<template>
  <v-container grid-list-xs>
    <v-card>
      <v-card-title primary-title>
        <v-row justify="space-around">
          <v-col cols="10"><h1>Grupo de rotaciones</h1></v-col>
          <v-col cols="2"
            ><v-btn color="primary" text icon class="mb-2 p-3" @click="opendDialog">
              <v-img :src="require(`@/assets/images/rotacion_add.png`)" height="50" width="50" contain></v-img> </v-btn
          ></v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-list>
              <v-list-group v-for="(rotationType, rt) in rotationsType" :key="rt" :value="true" no-action sub-group>
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title>Grupo rotación {{ rt + 1 }} </v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-btn color="info" text @click="openDialogUpdate(rt + 1)">Editar Grupo</v-btn>
                  </v-list-item-icon>
                </template>

                <v-list-item v-for="(rotation, i) in rotationType.rotations" :key="i">
                  <v-list-item-content>
                    <v-list-item-title v-text="`Rotación ${i + 1}`"></v-list-item-title>
                    <v-list-item-subtitle style="white-space: normal !important"
                      >{{ getDateText(rotation.start_date) }} al
                      {{ getDateText(rotation.end_date) }}
                      <span class="font-weight-bold"
                        >(Duración
                        {{ getDateTimeFrom(rotation.end_date, rotation.start_date) }}
                        días )</span
                      ></v-list-item-subtitle
                    >
                  </v-list-item-content>
                </v-list-item>
              </v-list-group>
            </v-list>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions v-if="rotationsType.length">
        <div class="flex-grow-1"></div>
        <v-btn color="error" @click="deletingRotations">Eliminar Rotaciones</v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card>
        <v-card-title>
          <h3 class="headline">{{ formTitle }}</h3>
          <span> ( Fin del semestre {{ endPeriodAcademic }} )</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-xs>
            <v-btn small color="primary" :disabled="!rotationsEnd.length" @click="pushRotationType"
              >Nuevo grupo de rotación</v-btn
            >
            <v-form>
              <v-row>
                <v-col cols="5">
                  <v-dialog ref="dialog" v-model="datePickerStart" persistent width="320px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="rotation.startDate"
                        label="Fecha Inicial"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="rotation.startDate"
                      full-width
                      :allowed-dates="allowedDates"
                      locale="es"
                      :min="lastDate"
                      :max="endPeriodAcademic"
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="closePickerStart">Cancelar</v-btn>
                      <v-btn text color="primary" @click="datePickerStart = false">Aceptar</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="6">
                  <v-dialog ref="dialog" v-model="datePickerEnd" persistent width="320px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="rotation.endDate"
                        label="Fecha Final"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="rotation.endDate"
                      full-width
                      :allowed-dates="allowedDates"
                      locale="es"
                      :min="lastEndDate"
                      :max="endPeriodAcademic"
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="closePickerEnd">Cancelar</v-btn>
                      <v-btn text color="primary" @click="datePickerEnd = false">Aceptar</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="1">
                  <v-btn icon color="primary" @click="pushRotation">
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
            <v-list dense v-if="rotationsType.length && rotationsEnd.length <= rotationsType.length">
              <v-list-group v-for="(rotationType, rt) in rotationsType" :key="rt" :value="true" no-action sub-group>
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title>Grupo rotación {{ rt + 1 }}</v-list-item-title>
                  </v-list-item-content>
                </template>
                <v-list-item>
                  <v-list-item-content v-for="(rotationAux, index) in rotationType.rotations" :key="index">
                    <v-list-item-title>Rotación {{ index + 1 }}</v-list-item-title>
                    <v-list-item-subtitle
                      >{{ rotationAux.start_date }} al {{ rotationAux.end_date }}</v-list-item-subtitle
                    >
                  </v-list-item-content>
                </v-list-item>
              </v-list-group>
            </v-list>
            <v-list dense v-else>
              <v-list-group v-for="(rotationType, rt) in rotationsEnd" :key="rt" :value="true" no-action sub-group>
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title>Grupo rotación {{ rt + 1 }}</v-list-item-title>
                  </v-list-item-content>
                </template>
                <v-list-item>
                  <v-list-item-content v-for="(rotationAux, index) in rotationType.rotations" :key="index">
                    <v-list-item-title>Rotación {{ index + 1 }}</v-list-item-title>
                    <v-list-item-subtitle
                      >{{ rotationAux.start_date }} al {{ rotationAux.end_date }}</v-list-item-subtitle
                    >
                  </v-list-item-content>
                </v-list-item>
              </v-list-group>
            </v-list>
            <!-- <v-list-item two-line v-if="rotationByFull != null">
              <v-list-item-content>
                <v-list-item-title>Rotación Completa</v-list-item-title>
                <v-list-item-subtitle
                  >{{ rotationByFull.startDate }} al {{ rotationByFull.endDate }}</v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item> -->
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text color="danger" @click="dialog = false">cerrar</v-btn>
          <v-btn text color="red" @click="clearRotations" :disabled="rotationsEnd.length == 0"
            >Borrar rotaciones creadas</v-btn
          >
          <v-btn text color="primary" :disabled="rotationsEnd.length == 0" @click="save">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogUpdate" max-width="1000px">
      <v-card>
        <v-card-title>
          <h3 class="headline">Actualizar Grupo rotación {{ typeUpdate }}</h3>
          <span> ( Fin del semestre {{ endPeriodAcademic }} )</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-xs>
            <v-form>
              <v-row>
                <v-col cols="5">
                  <v-dialog ref="dialog" v-model="datePickerStart" persistent width="320px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="rotation.startDate"
                        label="Fecha Inicial"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="rotation.startDate"
                      full-width
                      :allowed-dates="allowedDates"
                      locale="es"
                      :min="lastDate"
                      :max="endPeriodAcademic"
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="closePickerStart">Cancelar</v-btn>
                      <v-btn text color="primary" @click="datePickerStart = false">Aceptar</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="6">
                  <v-dialog ref="dialog" v-model="datePickerEnd" persistent width="320px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="rotation.endDate"
                        label="Fecha Final"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="rotation.endDate"
                      full-width
                      :allowed-dates="allowedDates"
                      locale="es"
                      :min="lastEndDate"
                      :max="endPeriodAcademic"
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="closePickerEnd">Cancelar</v-btn>
                      <v-btn text color="primary" @click="datePickerEnd = false">Aceptar</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="1">
                  <v-btn icon color="primary" @click="pushRotationUpdate">
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>

            <v-list dense>
              <v-list-item>
                <v-list-item-content v-for="(rotationAux, index) in rotationsUpdate" :key="index">
                  <v-list-item-title>Rotación {{ index + 1 }}</v-list-item-title>
                  <v-list-item-subtitle>{{ rotationAux.startDate }} al {{ rotationAux.endDate }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text color="danger" @click="closeDialogUpdate">cerrar</v-btn>
          <v-btn text color="red" @click="clearRotations" :disabled="rotationsUpdate.length == 0"
            >Borrar rotaciones creadas</v-btn
          >
          <v-btn text color="primary" :disabled="rotationsUpdate.length == 0" @click="updateRotations"
            >Actualizar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <Loading />
  </v-container>
</template>
