<template>
  <v-container grid-list-xs>
    <v-data-table
      :headers="headers"
      :items="students"
      :items-per-page="perPage"
      :loading="loading"
      :page="page"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      class="elevation-4"
      hide-default-footer
      :footer-props="{
        'items-per-page-text': 'Estudiantes por página',
        'disable-pagination': true,
        'last-icon': '',
      }"
    >
      <template v-slot:top>
        <v-toolbar flat color="white" class="header">
          <v-row>
            <v-col cols="3" align-self="center">
              <v-select v-model="search.type" :items="peopleTypes" label="Tipo de búsqueda"></v-select>
            </v-col>
            <v-col :cols="stateSearch ? 7 : 8" align-self="center">
              <v-select
                v-if="search.type == 'scenario'"
                v-model="search.value"
                :items="scenarios"
                label="Escenario de práctica"
              ></v-select>
              <v-text-field v-else v-model="search.value" label="Búsqueda"></v-text-field>
            </v-col>
            <v-col cols="1" align-self="center">
              <v-btn icon @click="searchStudent()">
                <v-icon>search</v-icon>
              </v-btn>
            </v-col>
            <v-col v-if="stateSearch" cols="1" align-self="center">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon @click="clearSearch()" dark v-bind="attrs" v-on="on">
                    <v-icon color="red">clear</v-icon>
                  </v-btn>
                </template>
                <span>Limpiar búsqueda</span>
              </v-tooltip>
            </v-col>
          </v-row>

          <!-- <v-spacer></v-spacer> -->
        </v-toolbar>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="dataPerson(item, academicPeriods[0].value)">
          search
        </v-icon>
      </template>
      <template v-slot:no-data>
        <span>No hay estudiantes registrados</span>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        circle
        v-model="page"
        :length="pageCount"
        @next="next()"
        @previous="pageData = page"
        @input="hablePaginate"
        :total-visible="perPage"
      ></v-pagination>
    </div>
    <v-dialog v-model="dialogData" persistent fullscreen>
      <student
        :student="student"
        :data-practict="dataPractict"
        :academic-periods="academicPeriods"
        v-if="dialogData"
        @closeDialog="closeDialog()"
        @getAcademicPeriod="getAcademicPeriod"
      />
    </v-dialog>
    <Loading />
  </v-container>
</template>

<style lang="scss">
.header {
  margin-top: 10px;
  .v-toolbar__content {
    height: 100px !important;
  }
}

.v-data-table__wrapper {
  margin-top: 20px;
}
</style>
