<template>
  <div>
    <v-card>
      <v-card-title>
        <span class="headline">Reportes</span>
        <v-spacer></v-spacer>
        <v-btn icon @click="closeDialog">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="reports"
          :loading="loading"
          :loading-text="loading ? 'Cargando reportes ...' : ''"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-select
                :items="typesReport"
                v-model="typeReport"
                label="Tipo de reporte"
                @change="searchTypeReport"
              ></v-select>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-select
                :items="academicPeriods"
                label="Periodo académico"
                v-model="academicPeriod"
                @change="searchTypeReport"
                :menu-props="{ closeOnContentClick: true }"
              >
              </v-select>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" fullscreen>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on"> Nuevo reporte </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">Nuevo reporte</span>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="closeDialogForm">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-form ref="formReport" v-model="valid" :lazy-validation="lazy">
                        <v-select
                          :items="typesReport"
                          v-model="typeReport"
                          @change="changeTypeReport"
                          label="Tipo de reporte"
                        ></v-select>
                        <form-report :typeReport="typeReport" @searchReport="searchReport" @close="closeDialogForm" />
                        <div v-if="show">
                          <v-text-field
                            label="Título"
                            :rules="formValidation.title"
                            v-model="report.title"
                            class="align-center"
                          ></v-text-field>
                          <v-row>
                            <v-col align-self="center">
                              <table-data
                                v-if="optionShow === 'table'"
                                :chartData="report.reportDatas"
                                :title="titleChart"
                              />
                              <div v-else-if="optionShow === 'chart'">
                                <bar-horizontal-chart
                                  v-if="chart == 'bar'"
                                  :key="datasets.data[0]"
                                  :label="datasets.names"
                                  :chartData="[
                                    {
                                      label: titleChart,
                                      backgroundColor: '#f87979',
                                      data: datasets.data,
                                    },
                                  ]"
                                />
                                <circle-chart
                                  v-else
                                  :key="datasets.data[0]"
                                  :label="datasets.names"
                                  :chartData="[
                                    {
                                      label: titleChart,
                                      backgroundColor: ['#eee', 'rgb(255, 99, 132)'],
                                      data: datasets.data,
                                    },
                                  ]"
                                />
                              </div>
                              <v-btn-toggle v-model="optionShow" tile color="primary" group>
                                <v-btn value="chart"> Gráfica </v-btn>

                                <v-btn value="table"> Tabla </v-btn>
                              </v-btn-toggle>
                            </v-col>
                            <v-col>
                              <vue-editor v-model="report.description"></vue-editor>
                            </v-col>
                          </v-row>
                        </div>
                      </v-form>
                    </v-container>
                  </v-card-text>

                  <v-card-actions v-if="show">
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false"> Cerrar </v-btn>
                    <v-btn color="blue darken-1" text @click="saveReport" :disabled="!valid"> Guardar reporte </v-btn>
                  </v-card-actions>
                </v-card>
                <Snackbar />
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:[`item.action`]="{ item }">
            <v-btn dark @click="downloadPdf(item)" icon color="blue">
              <v-icon small> mdi-download </v-icon>
            </v-btn>
          </template>
          <template v-slot:no-data> No hay reportes </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="dialogPdf" max-width="800">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="dialogPdf = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <pdf v-for="i in pageCount" :key="i" :page="i" :src="pdf" />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="
              dialogPdf = false;
              pdf = null;
            "
          >
            Cancelar
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialogPdf = false"> Cerrar </v-btn>
          <v-btn color="blue darken-1" text @click="saveReport"> Guardar Reporte </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <Loading />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Emit } from 'vue-property-decorator';
import circleChart from '@/components/charts/CircleChart.vue';
import barChart from '@/components/charts/BarChart.vue';
import BarHorizontalChart from '@/components/charts/BarHorizontalChart.vue';
import TableData from '@/components/charts/TableData.vue';
import Loading from '@/components/loading.vue';
import Snackbar from '@/components/Snackbar.vue';
import { VueEditor } from 'vue2-editor';
import { ISelect } from '@/interfaces/interfaces';
import { Report } from '@/domain/entities/report/Report';
import { TypeReport, TypeReportText } from '@/domain/entities/report/TypeReport';
import pdf from 'vue-pdf';
import { reportService } from '@/services/reportService';
import { IReportResponse } from '@/interfaces/InterfaceResponse';
import { globalSer } from '@/services/globalService';
import FormReport from './formReportMetas/FormReport.vue';
import { TypeChart } from '@/domain/entities/report/TypeChart';
import { academicPeriodService } from '@/services/academicPeriodService';
import { Roles } from '@/route/Roles';
export interface Idata {
  names: string[];
  data: number[];
}
@Component({
  components: { circleChart, barChart, BarHorizontalChart, TableData, Loading, VueEditor, pdf, FormReport, Snackbar },
})
export default class AttentionBySubject extends Vue {
  public page = 0;
  public pageCount = 0;
  public reports: Report[] = [];
  public reportsAux: Report[] = [];
  public loading = true;
  public dialog = false;
  public headers = [
    {
      text: '',
      align: 'left',
      sortable: false,
    },
    { text: 'Periodo académico', value: 'academicPeriod' },
    { text: 'Título', value: 'title' },
    { text: 'Descargar', value: 'action', sortable: false },
  ];
  public typesReport: ISelect[] = globalSer.select(TypeReport, TypeReportText);
  public typeReport = TypeReport.ATTENTIONSBYSUBJECT;
  public academicPeriod: any = null;
  public academicPeriods: ISelect[] = [];
  public titleChart = '';
  public datasets: Idata = {
    names: [],
    data: [],
  } as Idata;
  public pdf: any = null;
  public report = new Report();
  public image = null;
  public dialogPdf = false;
  public show = false;
  public chart = 'bar';
  public valid = false;
  public lazy = false;
  public optionShow = 'chart';
  public formValidation = {
    title: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
  };
  @Emit('closeDialog')
  public closeDialog() {
    return 'cerrando';
  }

  public get title() {
    return '';
  }

  /**
   * clear
   */
  public clear(): void {
    this.datasets = {} as Idata;
  }

  public changeTypeReport(): void {
    this.show = false;
    this.pdf = null;
    this.report = new Report();
    this.datasets = {} as Idata;
    this.titleChart = '';
    this.chart = 'bar';
  }

  public async closeDialogForm() {
    this.dialog = false;
    await this.searchTypeReport();
  }

  public async searchTypeReport(): Promise<void> {
    this.loading = true;
    this.reports = [];
    this.reportsAux = [];
    this.report = new Report();
    this.pdf = null;
    const resp = await reportService.getAll(this.typeReport as number, this.academicPeriod as number);
    if (resp.data.state) {
      this.reports = (resp.data.data.reports as IReportResponse[]).map((report) => new Report(report));
      this.reportsAux = (resp.data.data.reports as IReportResponse[]).map((report) => new Report(report));
    }
    this.loading = false;
  }

  public async created() {
    this.academicPeriods = await academicPeriodService.getAll();
    if (this.academicPeriods.length) {
      this.academicPeriod = this.academicPeriods[0].value as number;
    }
    this.searchTypeReport();
  }

  public async getCanvas(): Promise<'' | File> {
    try {
      const canvas =
        this.report.chart === TypeChart.BAR
          ? document.getElementById('horizontalbar-chart')
          : document.getElementById('pie-chart');
      const img = (canvas as HTMLCanvasElement).toDataURL();
      return await this.dataUrlToFile(img, 'report-attention-by-subject.png');
    } catch (error) {
      return '';
    }
  }

  public async dataUrlToFile(dataUrl: string, fileName: string): Promise<File> {
    const res: Response = await fetch(dataUrl);
    const blob: Blob = await res.blob();
    return new File([blob], fileName, { type: 'image/png' });
  }
  public async searchReport(dataSearch: any) {
    this.report = new Report();
    this.datasets = {
      names: [],
      data: [],
    };
    this.show = false;
    if (dataSearch.report.reportMetas) {
      this.report = dataSearch.report;
      this.datasets = dataSearch.datasets;
      this.titleChart = dataSearch.titleChart;
      this.chart = dataSearch.chart;
      this.show = dataSearch.showChart;
    } else {
      this.$store.commit('setSnackbar', { msg: 'No hay datos para generar este reporte', color: 'red' });
      setTimeout(() => {
        this.$store.commit('setSnackbar', { msg: '', color: '' });
      }, 4000);
    }
  }

  public async downloadPdf(report: Report): Promise<void> {
    this.$store.commit('setLoading', { loading: true, msg: '' });
    const formDataReport = new FormData();
    formDataReport.append('title', report.title);
    formDataReport.append('description', report.description as string);
    formDataReport.append('image', report.image);
    formDataReport.append('report_category', report.reportCategory.toString());
    formDataReport.append('report_metas', JSON.stringify(report.reportMetas?.map((reportMeta) => reportMeta.toJson())));
    formDataReport.append('report_datas', JSON.stringify(report.reportDatas?.map((reportData) => reportData.toJson())));
    const rol = report.reportMetas?.find((reportMeta) => reportMeta.key === 'rol');
    switch (this.typeReport) {
      case TypeReport.ATTENTIONSBYSUBJECT:
        await reportService.postReportDownloadPdf('reportBySubject', formDataReport);
        break;
      case TypeReport.ATTENTIONSBYMODULE:
        await reportService.postReportDownloadPdf('reportByModule', formDataReport);
        break;
      case TypeReport.ASSISTENCESBYSUBJECT:
        await reportService.postReportDownloadPdf('reportAssistenceStudent', formDataReport);
        break;
      case TypeReport.CHECKSBYROL:
        await reportService.postReportDownloadPdf(
          parseInt(rol?.value as unknown as string) === Roles.STUDENT ? 'reportByCheckStudent' : 'reportByCheckTeacher',
          formDataReport
        );
        break;
      case TypeReport.PATIENTPOLLS:
        await reportService.postReportDownloadPdf('reportByPoll', formDataReport);
        break;
      default:
        break;
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public async getFormData(): Promise<FormData> {
    this.report.reportCategory = this.typeReport;
    const formDataReport = new FormData();
    formDataReport.append('title', this.report.title);
    formDataReport.append('description', this.report.description as string);
    formDataReport.append('image', await this.getCanvas());
    formDataReport.append('report_category', this.report.reportCategory.toString());
    formDataReport.append(
      'report_metas',
      JSON.stringify(this.report.reportMetas?.map((reportMeta) => reportMeta.toJson()))
    );
    formDataReport.append(
      'report_datas',
      JSON.stringify(this.report.reportDatas?.map((reportData) => reportData.toJson()))
    );
    return formDataReport;
  }

  public async getPdf() {
    if (!this.report.description) {
      this.$store.commit('setSnackbar', { msg: 'La descripción es obligatoria', color: 'red' });
      setTimeout(() => {
        this.$store.commit('setSnackbar', { msg: '', color: '' });
      }, 4000);
      return;
    }
    try {
      if (this.pdf == null) {
        let resp;
        this.$store.commit('setLoading', { loading: true, msg: 'Generando PDF' });
        switch (this.typeReport) {
          case TypeReport.ATTENTIONSBYSUBJECT:
            resp = await reportService.postReportAttentionsGetPdf('reportBySubject', await this.getFormData());
            break;
          case TypeReport.ATTENTIONSBYMODULE:
            resp = await reportService.postReportAttentionsGetPdf('reportByModule', await this.getFormData());
            break;
          case TypeReport.ASSISTENCESBYSUBJECT:
            resp = await reportService.postReportAttentionsGetPdf('reportAssistenceStudent', await this.getFormData());
            break;
          case TypeReport.ASSISTENCESBYSCENARIO:
            resp = await reportService.postReportAttentionsGetPdf('reportByScenario', await this.getFormData());
            break;
          default:
            break;
        }
        this.pdf = pdf.createLoadingTask(resp);
        this.pdf.promise.then((pdfAux: any) => {
          this.pageCount = pdfAux.numPages;
        });
        this.$store.commit('setLoading', { loading: false, msg: '' });
      }
      this.dialogPdf = true;
    } catch (error) {
      this.$store.commit('setLoading', { loading: false, msg: '' });
      this.$store.commit('setSnackbar', { msg: 'Error al generar el PDF', color: 'red' });
    }
  }
  public async saveReport() {
    this.$store.commit('setLoading', { loading: true, msg: 'Generando PDF' });
    const resp = await reportService.saveReport(await this.getFormData());
    if (resp.data.state) {
      const respReport = await reportService.getAll(this.typeReport, this.academicPeriod);
      if (respReport.data.state) {
        this.reports = (respReport.data.data.reports as IReportResponse[]).map((report) => new Report(report));
      }
      this.dialogPdf = false;
      this.dialog = false;
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public searchByPeriod($e) {
    this.reports =
      typeof $e === 'number' ? this.reportsAux.filter((report) => report.academicPeriodId === $e) : this.reportsAux;
  }
}
</script>

<style></style>
