<template>
  <v-container grid-list-xs>
    <v-card>
      <v-card-text>
        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
          <v-row>
            <v-col cols="12" sm="6" md="6">
              <v-text-field label="Nombre" type="text" v-model="title.name" :rules="formTitleValid.name"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6">
              <v-text-field
                label="Descripción"
                type="text"
                v-model="title.description"
                :rules="formTitleValid.description"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <div class="flex-grow-1"></div>
        <v-btn color="primary" @click="test">text</v-btn>
      </v-card-actions>
    </v-card>
    <br />
    <v-data-table :headers="headers" :items="titles" :search="search" :items-per-page="5" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Títulos</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
        </v-toolbar>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-dialog v-model="dialogAsignar" max-width="700px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" text icon class="mb-2" v-on="on">
              <v-icon small class="mr-2" @click="asignar(item)">
                book
              </v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container> </v-container>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="save">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Refrescar</v-btn>
      </template>
    </v-data-table>
    <Loading />
  </v-container>
</template>

<style lang="scss" scoped></style>
