<template>
  <v-card>
    <v-card-title>
      <span class="headline">Datos generales del estudiante</span>
      <v-spacer></v-spacer>
      <v-btn icon @click="closeDialog()">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-text>
      <div v-if="student">
        <v-select
          :items="academicPeriods"
          v-model="academicPeriod"
          label="Periodo académico"
          @change="getAcademicPeriod()"
        ></v-select>
        <h2>Datos Personales</h2>
        <v-row>
          <v-col cols="12" sm="3">
            <v-text-field v-model="student.person.fullName" label="Nombre" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="3">
            <v-text-field v-model="student.person.document" label="Documento" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="3">
            <v-text-field v-model="student.person.address" label="Dirección" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="3">
            <v-text-field v-model="student.person.phone" label="Telefono" disabled></v-text-field>
          </v-col>
        </v-row>
      </div>
      <div v-if="dataPractict">
        <div>
          <h2>Datos de Práctica</h2>
          <v-row>
            <v-col cols="12" sm="3">
              <v-text-field v-model="dataPractict.scenario" label="Escenario" disabled></v-text-field>
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field v-model="dataPractict.area" label="Área" disabled></v-text-field>
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field v-model="dataPractict.module" label="Módulo" disabled></v-text-field>
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field v-model="dataPractict.teacher" label="Docente" disabled></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="4">
              <v-text-field v-model="dataPractict.working_day" label="Jornada" disabled></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field v-model="dataPractict.rotation" label="Rotación" disabled></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field v-model="dataPractict.career" label="Carrera" disabled></v-text-field>
            </v-col>
          </v-row>
        </div>
        <div>
          <h2>Atenciones</h2>
          <p>
            El estudiante a realizado
            {{
              dataPractict.attentions > 1 || dataPractict.attentions == 0
                ? `${dataPractict.attentions} atenciones`
                : `${dataPractict.attentions} atención`
            }}
          </p>
        </div>
        <div>
          <h2>Inasistencia</h2>
          <v-row>
            <v-col cols="12" sm="2">Fecha</v-col>
            <v-col cols="12" sm="3">Escenario</v-col>
            <v-col cols="12" sm="7">Descripción</v-col>
          </v-row>
          <v-row v-for="(inassistence, i) in dataPractict.inassistences" :key="i">
            <v-col cols="12" sm="2">{{ inassistence.date }}</v-col>
            <v-col cols="12" sm="3">{{ inassistence.scenario }}</v-col>
            <v-col cols="12" sm="7">{{ inassistence.observation }}</v-col>
          </v-row>
        </div>
      </div>
      <div v-else>
        <h2 class="text-center">No hay datos del semestre seleccionado</h2>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Student } from '@/domain/entities/student/Student';
import { ISelect } from '@/interfaces/interfaces';
import Vue from 'vue';
import { Component, Emit, Prop } from 'vue-property-decorator';
@Component
export default class AreaByScenario extends Vue {
  @Prop({ type: Object }) public dataPractict;
  @Prop({ type: Student, default: new Student() }) public student!: Student;
  @Prop({ type: Array, default: [] }) public academicPeriods!: ISelect[];
  public academicPeriod: any = null;
  @Emit('closeDialog')
  public closeDialog() {
    return 'cerrando';
  }

  @Emit('getAcademicPeriod')
  public getAcademicPeriod() {
    return this.academicPeriod;
  }

  public created() {
    this.academicPeriod = this.academicPeriods[0].value;
  }
}
</script>

<style></style>
