<template>
  <v-container grid-list-xs>
    <v-card>
      <v-card-title primary-title>
        Grupos de estudiantes {{ stateEdit ? '(Estas en modo editar grupos)' : '' }}
      </v-card-title>
      <v-card-text>
        <v-row align="center" justify="center">
          <v-col cols="12" md="5" sm="5">
            <v-select v-model="subject" :items="subjects" label="Materias" @change="showModules"></v-select>
          </v-col>
          <v-col cols="12" md="6" sm="6">
            <v-select
              v-model="moduleObject"
              :items="modules"
              label="Módulos"
              :disabled="!subject || modules.length == 0"
              @change="showAssignments"
            ></v-select>
          </v-col>
          <v-col cols="12" md="1" sm="1">
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn
                  color="primary"
                  text
                  class="mb-2"
                  v-on="on"
                  :disabled="!moduleObject || items.length != 0 || withAssign || groupSelect.length != 0"
                >
                  <v-img
                    :src="
                      require(`@/assets/images/${
                        !moduleObject || items.length != 0 || withAssign || groupSelect.length != 0
                          ? 'asignaciones_add_gris'
                          : 'asignaciones_add'
                      }.png`)
                    "
                    height="40"
                    width="40"
                    contain
                  ></v-img>
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Grupos</span>
                </v-card-title>

                <v-card-text>
                  <v-container text-center>
                    <h4>{{ listStudents.length }} estudiantes</h4>
                    <v-radio-group v-model="row" dense @change="list">
                      <v-radio
                        v-for="(item, index) in listOptions"
                        :key="index"
                        :label="labelGroups(item)"
                        :value="index"
                      ></v-radio>
                    </v-radio-group>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-dialog>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <br />
    <v-row v-if="labelGroup != ''">
      <br />
      <v-col cols="12" md="4">
        <v-card style="height: 160px">
          <v-card-title primary-title> Grupos </v-card-title>
          <v-card-text>
            <h3>{{ labelGroup }}</h3>
            <v-row>
              <v-col cols="12" md="6"><v-btn small color="green" @click="dialog = true">Cambiar grupos</v-btn></v-col>
              <v-col cols="12" md="6"
                ><v-btn small color="blue" @click="randomGroup" :disabled="items.length == 0"
                  >grupos aleatorios</v-btn
                ></v-col
              >
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="8">
        <v-card style="height: 160px">
          <v-card-title primary-title> Observación </v-card-title>
          <v-card-text>
            <p>
              Para la asignación de estudiantes a los grupos de práctica debe tener en cuenta que en la selección del
              grupo para cada estudiante se visualiza (el número de estudiantes seleccionados y el máximo que puede
              asociar). Al llenarse un grupo este quedara inhabilitado, para poder habilitarlo se debe sacar un
              integrante del grupo.
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <br v-else />

    <v-row>
      <v-col cols="12">
        <v-card :disabled="!items.length">
          <v-card-title primary-title>
            <v-row align="center" style="height=10px;" dense justify="center">
              <v-col>Estudiantes</v-col>
              <v-col><v-row align="center" justify="center">grupos</v-row></v-col>
            </v-row>
          </v-card-title>
          <v-card-text class="list-student">
            <v-list two-line dense>
              <v-list-item v-for="(student, index) in listStudents" :key="index">
                <v-list-item-content>
                  <v-list-item-title class="font-weight-bold">{{
                    getPerson(student.student.person).fullName
                  }}</v-list-item-title>
                  <v-list-item-subtitle
                    >{{ getPerson(student.student.person).documentTypeText }} -
                    {{ student.student.person.document }}</v-list-item-subtitle
                  >
                </v-list-item-content>
                <v-list-item-action style="max-width: 200px">
                  <v-row>
                    <v-col cols="10" style="padding: 0">
                      <v-combobox
                        dense
                        :items="items"
                        label="grupos"
                        :disabled="btnEnabled"
                        chips
                        v-model="listStudents[index].group"
                        @change="addNumber(student, index)"
                      >
                      </v-combobox>
                    </v-col>
                    <v-col cols="2" style="padding: 0">
                      <v-btn
                        class="text-center"
                        color="red"
                        v-if="listStudents[index].group != null"
                        icon
                        dark
                        @click="removeGroup(student, index)"
                        :disabled="listStudents[index].group == null"
                      >
                        <v-icon dark>mdi-close</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              v-if="!withAssign && groupSelect.length > 0"
              @click="saveAll"
              :disabled="!btnEnabled || !items.length"
              >Guardar</v-btn
            >
            <v-btn v-if="stateEdit" :disabled="btnEnabledEditar" color="primary" @click="editGroup"
              >editar grupos</v-btn
            >
            <v-btn color="primary" v-if="rotationsButton" @click="dialogRotation = true">Cuadro de rotación</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-if="dialogRotation" v-model="dialogRotation" persistent max-width="800">
      <v-card>
        <v-toolbar color="primary">
          <v-toolbar-title>
            <h3 class="headline mb-0">
              Rotación
              <span v-if="selectRotation.startDate"
                >( desde el
                {{ getDate(selectRotation.startDate) }}
                hasta el
                {{ getDate(selectRotation.endDate) }})</span
              >
            </h3>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="dialogRotation = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text style="margin-top: 30px">
          <v-form v-model="formRotation" :lazy-validation="lazyRotation">
            <v-select
              v-model="rotationType"
              :items="rotationTypes"
              label="Tipo de Rotación"
              @change="showRotationsByRotation"
            ></v-select>
            <v-select v-model="selectedRotation" item-value="id" :items="rotationsAux" label="Rotación"></v-select>
            <div v-if="selectedRotation">
              <v-row dense v-for="(group, i) in groupSelect" :key="i">
                <v-col cols="1">{{ group.text }}</v-col>
                <v-col cols="9">
                  <v-combobox
                    dense
                    :items="group.assignments"
                    label="Asignaciones"
                    chips
                    v-model="assignStudentsGroups[i].assignmentId"
                    @change="assignmentGroup($event, group.value, i)"
                    :disabled="rotationsAux.length == rotationIndex"
                  >
                  </v-combobox>
                </v-col>
                <v-col cols="2">
                  <v-combobox
                    dense
                    :items="workingDays"
                    label="Jornada"
                    chips
                    v-model="assignStudentsGroups[i].workingDay"
                    :disabled="rotationsAux.length == rotationIndex"
                  >
                  </v-combobox>
                </v-col>
              </v-row>
              <div class="text-center">
                <v-btn color="success" small rounded @click="addAssignmentGroup()" :disabled="validateAssignment"
                  >Guardar rotación</v-btn
                >
              </div>
            </div>

            <br />
          </v-form>
          <div class="tableRotations">
            <h1>Tabla de rotación</h1>
            <br />
            <div v-for="(rotation, j) in assignStudentsGroupsArray" :key="j">
              <h2>
                Rotación {{ j + 1 }}
                <span class="text-sm-body-2"
                  >( desde el
                  {{ getDate(selectRotation.startDate) }}
                  hasta el
                  {{ getDate(selectRotation.endDate) }})</span
                >
              </h2>
              <br />
              <v-row dense v-for="(assignmentRotation, a) in rotation.assignStudentsGroups" :key="a">
                <v-col cols="12" sm="1">{{ getGroup(assignmentRotation.group_module_id) }}</v-col>
                <v-col cols="12" sm="1">{{ assignmentRotation.working_day }}</v-col>
                <v-col cols="12" sm="10">Profesor {{ getAssignment(a, assignmentRotation.assignment_id) }}</v-col>
              </v-row>
              <br />
            </div>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="primary"
            :disabled="assignStudentsGroupsArray.length === 0"
            small
            @click="saveAssignmentRotation()"
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogSaveStudent.listStudent"
      persistent
      :overlay="false"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Registrando estudiantes</h3>
          </div>
        </v-card-title>
        <v-card-text>
          <v-row v-for="(list, index) in studentsListSend" :key="index">
            <v-col cols="4">Lista estudiantes {{ index + 1 }}</v-col>
            <v-col cols="8">
              <v-progress-linear
                :indeterminate="!list.send"
                value="100"
                :color="list.error ? 'error' : 'blue'"
              ></v-progress-linear>
            </v-col>
          </v-row>
          <div v-if="dialogSaveStudent.createGroups">
            <h3>Creando grupos</h3>
            <v-progress-linear
              :indeterminate="!dialogRotation"
              :rounded="dialogRotation"
              value="100"
              color="blue"
            ></v-progress-linear>
          </div>
        </v-card-text>
        <v-card-actions> </v-card-actions>
      </v-card>
    </v-dialog>
    <Snackbar />
    <Loading />
  </v-container>
</template>
<style lang="scss" scoped>
.list-student {
  height: 500px;
  overflow: scroll;
}
h3 {
  span {
    font-size: 15px;
  }
}
</style>
