<template>
  <div>
    <v-data-table :headers="headers" :items="chartData" class="elevation-1" dense>
      <template v-slot:[`item.percentage`]="{ item }"> {{ item.percentage }}% </template>
    </v-data-table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
@Component
export default class TableData extends Vue {
  @Prop({ type: String, default: '' }) public readonly title;
  @Prop({
    type: Array,
    default: () => {
      return [];
    },
  })
  public readonly chartData!: any[];

  public headers: any[] = [];
  public created() {
    this.headers = [
      { text: this.title, value: 'name' },
      { text: 'Cantidad', value: 'total' },
      { text: 'Porcentaje', value: 'percentage' },
    ];
  }
}
</script>
