<template>
  <v-container grid-list-xs>
    <v-data-table :headers="headers" :items="pages" :search="search" :items-per-page="10" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Páginas</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn small elevation="" color="" @click="update">Actualizar</v-btn>
        </v-toolbar>
      </template>
      <template v-slot:[`item.state`]="{ item }">
        <v-switch true-value="1" y false-value="0" inset v-model="item.state"></v-switch>
      </template>
      <template v-slot:[`item.parentPage`]="{ item }">
        <v-select :items="pagesSelect" v-model="item.parentPage" label="Grupo"> </v-select>
      </template>
      <template v-slot:[`item.actio`]="{ item }">
        <v-icon small class="mr-2" @click="edit(item)">
          edit
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Refrescar</v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>
