<template>
  <v-container grid-list-xs>
    <v-data-table
      :headers="headers"
      :items="teachers"
      :items-per-page="perPage"
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      class="elevation-4"
      hide-default-footer
    >
      <template v-slot:top>
        <v-toolbar flat color="white" class="header">
          <!-- <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field> -->
          <v-row>
            <v-col cols="3" align-self="center">
              <v-select
                v-model="search.type"
                :items="peopleTypes"
                label="Tipo de búsqueda"
                @change="search.value = ''"
              ></v-select>
            </v-col>
            <v-col :cols="stateSearch ? 7 : 8" align-self="center">
              <v-select
                v-if="search.type == 'scenario'"
                v-model="search.value"
                :items="scenarios"
                label="Escenario de práctica"
              ></v-select>
              <v-text-field v-else v-model="search.value" label="Búsqueda"></v-text-field>
            </v-col>
            <v-col cols="1" align-self="center">
              <v-btn icon @click="searchTeacher()">
                <v-icon>search</v-icon>
              </v-btn>
            </v-col>
            <v-col v-if="stateSearch" cols="1" align-self="center">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon @click="clearSearch()" dark v-bind="attrs" v-on="on">
                    <v-icon color="red">clear</v-icon>
                  </v-btn>
                </template>
                <span>Limpiar búsqueda</span>
              </v-tooltip>
            </v-col>
          </v-row>
          <v-dialog v-model="dialog" scrollable persistent max-width="800px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" text icon class="mb-2" v-on="on">
                <v-img src="@/assets/images/docente_add.png" height="40" width="40" contain></v-img>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
                <v-spacer></v-spacer>
                <v-btn icon @click="close">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-card-title>

              <v-card-text>
                <v-stepper v-model="e1">
                  <v-stepper-header>
                    <v-stepper-step :complete="e1 > 1" step="1">Usuario</v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step :complete="e1 > 2" step="2">Docente</v-stepper-step>
                  </v-stepper-header>

                  <v-stepper-items>
                    <v-stepper-content step="1">
                      <v-card class="mb-12" color="grey lighten-4">
                        <v-card-text>
                          <v-form ref="formUser" v-model="validformUser" :lazy-validation="lazyFormUsre">
                            <v-row>
                              <v-col cols="12" sm="6" md="6">
                                <v-select
                                  :items="typesTeacher"
                                  v-model="user.rolId"
                                  label="Tipo de docente"
                                  required
                                  :rules="formValidUser.type"
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="user.user"
                                  label="Usuario"
                                  :rules="formValidUser.userPlanta"
                                  required
                                >
                                  <span slot="append">@unicesar.edu.co</span>
                                </v-text-field>
                              </v-col>
                              <!--<v-col cols="12" sm="6" md="6">
                              <v-text-field v-model="user.password" label="Contraseña" type="password" :rules="formValidUser.password"></v-text-field>
                            </v-col>-->
                            </v-row>
                            <v-row> </v-row>
                          </v-form>
                        </v-card-text>
                      </v-card>
                    </v-stepper-content>

                    <v-stepper-content step="2">
                      <v-card class="mb-12" color="grey lighten-5" height="400px">
                        <v-card-text style="height: 300px">
                          <v-form ref="formPerson" v-model="valid" :lazy-validation="lazy">
                            <v-row>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.firstName"
                                  label="Primer Nombre"
                                  :rules="formDocenteValid.first_name"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field v-model="person.secondName" label="Segundo Nombre"></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.firstLastName"
                                  label="Primer Apellido"
                                  :rules="formDocenteValid.first_last_name"
                                  required
                                ></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.secondLastName"
                                  label="Segundo Apellido"
                                  required
                                  :rules="formDocenteValid.second_last_name"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-select
                                  :items="documentTypes"
                                  v-model="person.documentType"
                                  label="Tipo de identificación"
                                  required
                                  :rules="formDocenteValid.documentType"
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.document"
                                  label="Identificación"
                                  :counter="10"
                                  required
                                  type="number"
                                  min="0"
                                  :rules="formDocenteValid.document"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.phone"
                                  label="Telefono"
                                  :counter="10"
                                  type="number"
                                  min="0"
                                  :rules="formDocenteValid.phone"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-select
                                  :items="genders"
                                  v-model="person.gender"
                                  label="Género"
                                  required
                                  :rules="formDocenteValid.gender"
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-dialog ref="dialog" v-model="modal" persistent width="290px">
                                  <template v-slot:activator="{ on }">
                                    <v-text-field
                                      v-model="person.birthDay"
                                      label="Fecha de nacimiento"
                                      prepend-icon="event"
                                      readonly
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker v-model="person.birthDay" scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="modal = false">Cancelar</v-btn>
                                    <v-btn text color="primary" @click="$refs.dialog.save(person.birthday)"
                                      >Aceptar</v-btn
                                    >
                                  </v-date-picker>
                                </v-dialog>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="person.address"
                                  label="Dirección"
                                  type="text"
                                  :rules="formDocenteValid.address"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="5" md="5">
                                <v-autocomplete
                                  @input="getTitles"
                                  :items="titles"
                                  label="Títulos"
                                  deletable-chips
                                  multiple
                                  :rules="formDocenteValid.title"
                                >
                                </v-autocomplete>
                              </v-col>
                              <v-col cols="12" md="1" sm="1" align-self="center">
                                <v-icon @click="dialogTitle = true"> add_circle</v-icon>
                              </v-col>
                            </v-row>
                          </v-form>
                        </v-card-text>
                      </v-card>
                    </v-stepper-content>
                  </v-stepper-items>
                </v-stepper>
                <!-- <v-container>
                
              </v-container> -->
              </v-card-text>

              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn text v-if="e1 == 2" @click="e1 = 1">Atras</v-btn>
                <v-btn text v-if="e1 == 1" @click="continueNext" :disabled="!validformUser">Continuar</v-btn>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" v-if="e1 == 2" text @click="save">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-dialog v-model="dialogUpdate" persistent max-width="900px" fullscreen transition="dialog-transition">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
              <v-spacer></v-spacer>
              <v-btn icon @click="close">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              <v-form ref="form" v-model="valid" :lazy-validation="lazy">
                <v-row>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="teacher.person.firstName"
                      label="Primer Nombre"
                      :rules="formDocenteValid.first_name"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="teacher.person.secondName"
                      label="Segundo Nombre"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="teacher.person.firsLastName"
                      label="Primer Apellido"
                      :rules="formDocenteValid.first_last_name"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="teacher.person.secondLastName"
                      label="Segundo Apellido"
                      required
                      :rules="formDocenteValid.second_last_name"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-select
                      :disabled="editedIndex != -1"
                      :items="documentTypes"
                      v-model="teacher.person.documentType"
                      label="Tipo de identificación"
                      required
                      :rules="formDocenteValid.document_type"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="teacher.person.document"
                      label="Identificación"
                      :counter="10"
                      required
                      type="number"
                      min="0"
                      :rules="formDocenteValid.document"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="teacher.person.phone"
                      label="Telefono"
                      :counter="10"
                      type="number"
                      min="0"
                      :rules="formDocenteValid.phone"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-select
                      :disabled="editedIndex != -1"
                      :items="genders"
                      v-model="teacher.person.gender"
                      label="Género"
                      required
                      :rules="formDocenteValid.gender"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-dialog :disabled="editedIndex != -1" ref="dialog" v-model="modal" persistent width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :disabled="editedIndex != -1"
                          v-model="teacher.person.birthDay"
                          label="Fecha de nacimiento"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="teacher.person.birthDay" scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="modal = false">Cancelar</v-btn>
                        <v-btn text color="primary" @click="$refs.dialog.save(teacher.person.birthDay)">Aceptar</v-btn>
                      </v-date-picker>
                    </v-dialog>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="teacher.person.address"
                      label="Dirección"
                      type="text"
                      :rules="formDocenteValid.address"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-select :items="typesTeacher" multiple v-model="teacher.types" label="Tipo" required></v-select>
                  </v-col>
                  <v-col>
                    <v-autocomplete
                      v-model="teacher.titleId"
                      :items="titles"
                      label="Títulos"
                      deletable-chips
                      multiple
                      :rules="formDocenteValid.title"
                    >
                    </v-autocomplete>
                  </v-col>
                  <v-col>
                    <v-select :items="statesTeacher" v-model="teacher.state" label="Estado" required></v-select>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="update">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="edit(item)"> edit </v-icon>
      </template>
      <template v-slot:[`item.state`]="{ item }">
        <v-chip :color="item.state == 1 ? 'green' : 'red'">{{ item.state == 1 ? 'Activo' : 'Inactivo' }}</v-chip>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        circle
        v-model="page"
        :length="pageCount"
        @next="nextPage()"
        @previous="pageData = page"
        @input="hablePaginate"
        :total-visible="perPage"
      ></v-pagination>
    </div>
    <v-layout row justify-center>
      <v-dialog v-model="dialogTitle" persistent max-width="400">
        <v-card>
          <v-card-title class="headline">Agregar nuevo título</v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="validTitle" :lazy-validation="lazyTitle">
              <v-text-field label="Nombre" type="text" v-model="title.name" :rules="formTitleValid.name"></v-text-field>
              <v-text-field
                label="Descripción"
                type="text"
                v-model="title.description"
                :rules="formTitleValid.description"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="danger" @click="dialogTitle = false">Cancelar</v-btn>
            <v-btn color="primary" @click="addTitle">Agregar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <Loading />
  </v-container>
</template>
<style lang="scss">
.header {
  margin-top: 10px;
  .v-toolbar__content {
    height: 100px !important;
  }
}

.v-data-table__wrapper {
  margin-top: 20px;
}
</style>
