<template>
  <v-container grid-list-xs>
    <h1>Periodo académico actual: {{ academicPeriodByDate.year }} - {{ academicPeriodByDate.period }}</h1>
    <v-row align="center" justify="space-between">
      <v-col
        ><p>
          Fecha limíte para periodo académico actual :
          {{ academicPeriodByDate.id ? academicPeriodByDate.endDate : '(No hay periodo académico)' }}
        </p></v-col
      >
      <v-col class="text-right">
        <v-btn @click="getAcademicPeriod">{{
          academicPeriodByDate.id ? 'Actualizar periodo académico' : 'Nuevo periodo académico'
        }}</v-btn>
      </v-col>
    </v-row>
    <v-row align="center" justify="space-between">
      <v-col md="6" sm="12">
        <h1>Periodo académico de la carrera</h1>
      </v-col>
      <v-btn
        md="6"
        sm="12"
        class="text-right"
        v-if="existPeriodAcademicCareer"
        color="green"
        @click="saveAcademicPeriodCareer"
      >
        Asignar periodo academico a {{ careerName }}</v-btn
      >
    </v-row>
    <v-row>
      <v-col md="3" sm="12">
        <h2>Activo: {{ academicPeriod.year }} - {{ academicPeriod.period }}</h2>
        <br />
      </v-col>
      <v-col md="3" sm="12">
        <v-select v-model="academicPeriodAux.period" label="Periodo academico" :items="academicPeriods"></v-select>
      </v-col>
      <v-col md="3" sm="12">
        <v-btn @click="openDialogAcademicPeriod">Actualizar fechas</v-btn>
      </v-col>
      <v-col md="3" sm="12">
        <v-btn class="primary" @click="activeAcademicPeriod">Activar</v-btn>
      </v-col>
    </v-row>
    <hr />
    <v-row>
      <v-col>
        <v-data-table
          dense
          :headers="headers.faculty"
          :items="faculties"
          :items-per-page="5"
          :loading="loading.loadingFaculties"
          :loading-text="loading.loadingFaculties ? 'Cargando... por favor espere' : ''"
          class="elevation-4"
          :footer-props="{
            'items-per-page-text': 'Facultades por página',
          }"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Facultades</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="saveFaculties" class="mb-2"> Registrar facultad </v-btn>
            </v-toolbar>
          </template>
          <template v-slot:item="{ item, index }">
            <tr>
              <td>
                <span>{{ index + 1 }}</span>
              </td>
              <td>
                {{ item.text }}
              </td>
            </tr>
          </template>
          <template v-slot:no-data>
            <v-btn color="primary">Reset</v-btn>
          </template>
        </v-data-table>
      </v-col>
      <v-col>
        <v-data-table
          dense
          :headers="headers.question"
          :items="questions"
          :items-per-page="5"
          :loading="loading.loadingQuestion"
          :loading-text="loading.loadingQuestion ? 'Cargando... por favor espere' : ''"
          class="elevation-4"
          :footer-props="{
            'items-per-page-text': 'Preguntas por página',
          }"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Preguntas de seguirdad</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-btn color="primary" text icon @click="getQuestions" class="mb-2">
                <v-icon large>refresh</v-icon>
              </v-btn>
              <v-dialog v-model="dialog" max-width="500px" persistent>
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" class="mb-2" v-on="on"> Agregar pregunta </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-form>
                        <v-text-field v-model="question.text" label="Pregunta de seguridad" required></v-text-field>
                      </v-form>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn color="blue darken-1" text @click="cancel">Cancelar</v-btn>
                    <v-btn color="blue darken-1" text @click="save" :disabled="!question">Guardar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item="{ item, index }">
            <tr>
              <td>
                <span>{{ index + 1 }}</span>
              </td>
              <td>{{ item.text }}</td>
              <td>
                <v-icon small class="mr-2" @click="edit(item)" color="blue lighten-3"> edit </v-icon>
                <v-icon small @click="deleteQuestion(item)" color="red"> delete </v-icon>
              </td>
            </tr>
          </template>
          <template v-slot:no-data>
            <v-btn color="primary">Reset</v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <br />
    <hr />
    <br />

    <v-dialog v-model="dialogAcademicPeriod" :overlay="false" max-width="500px" transition="dialog-transition">
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Periodo académico</h3>
          </div>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="formAcademicPeriod">
              <v-row>
                <v-col cols="5">
                  <v-dialog ref="dialog" v-model="datePickerStart" persistent width="320px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="academicPeriodAux.startDate"
                        label="Fecha Inicial"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="academicPeriodAux.startDate" full-width locale="es">
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="closePickerStart">Cancelar</v-btn>
                      <v-btn text color="primary" @click="datePickerStart = false">Aceptar</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="6">
                  <v-dialog ref="dialog" v-model="datePickerEnd" persistent width="320px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="academicPeriodAux.endDate"
                        label="Fecha Final"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="academicPeriodAux.endDate" full-width locale="es">
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="closePickerEnd">Cancelar</v-btn>
                      <v-btn text color="primary" @click="datePickerEnd = false">Aceptar</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="closeDialogAcademicPeriod">Cancelar</v-btn>
          <v-btn class="primary" @click="updateAcademicPeriodCareer">Modificar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Loading />
  </v-container>
</template>
