<template>
  <v-container grid-list-xs>
    <v-data-table :headers="headers" :items="atenciones" :search="search" :items-per-page="5" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Atenciones</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
          <v-dialog v-model="dialog" max-width="700px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" text icon class="mb-2" v-on="on" @click="openDialog()">
                <v-icon large>person_add</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-form ref="form" v-model="valid" :lazy-validation="lazy">
                    <v-row>
                      <v-col>
                        <v-select
                          v-model="atencion.tipoIdentificacion"
                          :items="tiposIdentificaciones"
                          :rules="[(v) => !!v || 'Item is required']"
                          label="Tipo de identificación"
                          required
                        ></v-select>
                      </v-col>
                      <v-col>
                        <v-text-field
                          v-model="atencion.documento"
                          label="Número de documento"
                          :rules="formAtencionValid.documento"
                          type="number"
                          required
                          max="11"
                        ></v-text-field>
                      </v-col>
                      <v-col>
                        <v-text-field
                          v-model="atencion.nombre"
                          label="Nombre"
                          :rules="formAtencionValid.nombre"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-text-field
                          v-model="atencion.edad"
                          label="Edad"
                          :rules="formAtencionValid.edad"
                          type="number"
                          required
                          max="2"
                        ></v-text-field>
                      </v-col>
                      <v-col>
                        <v-select
                          v-model="atencion.nivelEducativo"
                          :items="nivelesEducativos"
                          :rules="[(v) => !!v || 'Item is required']"
                          label="Nivel Educativo"
                          required
                        ></v-select>
                      </v-col>
                      <v-col>
                        <v-select
                          v-model="atencion.situacionLaboral"
                          :items="situacionesLaborales"
                          :rules="[(v) => !!v || 'Item is required']"
                          label="Situación Laboral"
                          required
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-select
                          v-model="atencion.sexo"
                          :items="generos"
                          :rules="[(v) => !!v || 'Item is required']"
                          label="Genero"
                          required
                        ></v-select>
                      </v-col>
                      <v-col>
                        <v-select
                          v-model="atencion.estrato"
                          :items="estratos"
                          :rules="[(v) => !!v || 'Item is required']"
                          label="Estrato socieconomico"
                          required
                        ></v-select>
                      </v-col>
                      <v-col>
                        <v-autocomplete
                          v-model="atencion.procedencia"
                          multiple="true"
                          :items="procedencias"
                          label="Procedencia"
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                    <v-divider></v-divider>
                    <v-autocomplete
                      v-model="atencion.procedimiento"
                      multiple="true"
                      :items="procedimientos"
                      label="Procedimientos"
                    ></v-autocomplete>
                  </v-form>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="save" :disabled="!valid">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="editDocente(item)"> edit </v-icon>
        <v-icon small @click="deleteDocente(item)"> delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>
