<template>
  <v-container grid-list-xs>
    <v-data-table
      :headers="headers"
      :items="coordinators"
      :search="search"
      :items-per-page="5"
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      class="elevation-4"
      :footer-props="{
        'items-per-page-text': 'coordinadores por página',
      }"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Coordinador</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
          <v-dialog v-model="dialog" scrollable persistent max-width="800px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" text icon class="mb-2" v-on="on">
                <v-img src="@/assets/images/coordinador_add.png" height="40" width="40" contain></v-img>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
                <v-spacer></v-spacer>
                <v-btn icon @click="close()">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-card-title>

              <v-card-text>
                <v-stepper v-model="e1">
                  <v-stepper-header>
                    <v-stepper-step :complete="e1 > 1" step="1">Usuario</v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step :complete="e1 > 2" step="2">Coordinador</v-stepper-step>
                  </v-stepper-header>

                  <v-stepper-items>
                    <v-stepper-content step="1">
                      <v-card class="mb-12" color="grey lighten-4">
                        <v-card-text>
                          <v-form ref="formUser" v-model="validformUser" :lazy-validation="lazyFormUsre">
                            <v-row>
                              <v-col cols="12">
                                <v-text-field
                                  v-model="user.user"
                                  label="Usuario"
                                  :rules="formValidUser.userPlanta"
                                  required
                                >
                                  <span slot="append">@unicesar.edu.co</span>
                                </v-text-field>
                              </v-col>
                            </v-row>
                            <v-row> </v-row>
                          </v-form>
                        </v-card-text>
                      </v-card>
                    </v-stepper-content>

                    <v-stepper-content step="2">
                      <v-card class="mb-12" color="grey lighten-5" height="400px">
                        <v-card-text style="height: 300px">
                          <v-form ref="formCoordinator" v-model="valid" :lazy-validation="lazy">
                            <v-row>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.firstName"
                                  label="Primer Nombre *"
                                  :rules="formCoordinatorValid.first_name"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field v-model="person.secondName" label="Segundo Nombre"></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.firstLastName"
                                  label="Primer Apellido *"
                                  :rules="formCoordinatorValid.first_last_name"
                                  required
                                ></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.secondLastName"
                                  label="Segundo Apellido *"
                                  required
                                  :rules="formCoordinatorValid.second_last_name"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-select
                                  :items="documentTypes"
                                  v-model="person.documentType"
                                  label="Tipo de identificación *"
                                  required
                                  :rules="formCoordinatorValid.document_type"
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.document"
                                  label="Identificación *"
                                  :counter="10"
                                  required
                                  type="number"
                                  min="0"
                                  :rules="formCoordinatorValid.document"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="person.phone"
                                  label="Telefono *"
                                  :counter="10"
                                  type="number"
                                  min="0"
                                  :rules="formCoordinatorValid.phone"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-select
                                  :items="genders"
                                  v-model="person.gender"
                                  label="Género"
                                  required
                                  :rules="formCoordinatorValid.gender"
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-dialog ref="dialog" v-model="modal" persistent width="290px">
                                  <template v-slot:activator="{ on }">
                                    <v-text-field
                                      v-model="person.birthDay"
                                      label="Fecha de nacimiento"
                                      prepend-icon="event"
                                      readonly
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker v-model="person.birthDay" scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="modal = false">Cancelar</v-btn>
                                    <v-btn text color="primary" @click="$refs.dialog.save(person.birthday)"
                                      >Aceptar</v-btn
                                    >
                                  </v-date-picker>
                                </v-dialog>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="person.address"
                                  label="Dirección *"
                                  type="text"
                                  :rules="formCoordinatorValid.address"
                                ></v-text-field>
                              </v-col>
                              <v-col col="12" sm="6" md="6">
                                <v-select
                                  :items="careers"
                                  v-model="person.careerId"
                                  label="Programa"
                                  required
                                  :rules="formCoordinatorValid.career_id"
                                ></v-select>
                              </v-col>
                            </v-row>
                          </v-form>
                        </v-card-text>
                      </v-card>
                    </v-stepper-content>
                  </v-stepper-items>
                </v-stepper>
              </v-card-text>

              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn text v-if="e1 == 2" @click="e1 = 1">Atras</v-btn>
                <v-btn text v-if="e1 == 1" @click="continueNext" :disabled="!validformUser">Continuar</v-btn>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" v-if="e1 == 2" text @click="save">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-dialog v-model="dialogUpdate" persistent max-width="900px" fullscreen transition="dialog-transition">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
              <v-spacer></v-spacer>
              <v-btn icon @click="close">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              <v-form ref="formCoordinator" v-model="valid" :lazy-validation="lazy">
                <v-row>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="coordinator.person.firstName"
                      label="Primer Nombre"
                      :rules="formCoordinatorValid.first_name"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="coordinator.person.secondName"
                      label="Segundo Nombre"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="coordinator.person.firsLastName"
                      label="Primer Apellido"
                      :rules="formCoordinatorValid.first_last_name"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="coordinator.person.secondLastName"
                      label="Segundo Apellido"
                      required
                      :rules="formCoordinatorValid.second_last_name"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-select
                      :disabled="editedIndex != -1"
                      :items="documentTypes"
                      v-model="coordinator.person.documentType"
                      label="Tipo de identificación"
                      required
                      :rules="formCoordinatorValid.document_type"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="coordinator.person.document"
                      label="Identificación"
                      :counter="10"
                      required
                      type="number"
                      min="0"
                      :rules="formCoordinatorValid.document"
                      :disabled="editedIndex != -1"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="4" md="4">
                    <v-text-field
                      v-model="coordinator.person.phone"
                      label="Telefono"
                      :counter="10"
                      type="number"
                      min="0"
                      :rules="formCoordinatorValid.phone"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-select
                      :disabled="editedIndex != -1"
                      :items="genders"
                      v-model="coordinator.person.gender"
                      label="Género"
                      required
                      :rules="formCoordinatorValid.gender"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="4" md="4">
                    <v-dialog :disabled="editedIndex != -1" ref="dialog" v-model="modal" persistent width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :disabled="editedIndex != -1"
                          v-model="coordinator.person.birthDay"
                          label="Fecha de nacimiento"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="coordinator.person.birthDay" scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="modal = false">Cancelar</v-btn>
                        <v-btn text color="primary" @click="$refs.dialog.save(coordinator.person.birthDay)"
                          >Aceptar</v-btn
                        >
                      </v-date-picker>
                    </v-dialog>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="coordinator.person.address"
                      label="Dirección"
                      type="text"
                      :rules="formCoordinatorValid.address"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-select :items="statesCoordinator" v-model="coordinator.state" label="Estado" required></v-select>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="update">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="edit(item)"> edit </v-icon>
      </template>
      <template v-slot:[`item.state`]="{ item }">
        <v-chip :color="item.state == 1 ? 'green' : 'red'">{{ item.state == 1 ? 'Activo' : 'Inactivo' }}</v-chip>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
    <Loading />
  </v-container>
</template>

<v-dialog ref="dialog" v-model="modal" persistent width="290px">
                                  <template v-slot:activator="{ on }">
                                    <v-text-field
                                      v-model="person.birthDay"
                                      label="Fecha de nacimiento"
                                      prepend-icon="event"
                                      readonly
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker v-model="person.birthDay" scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="modal = false">Cancelar</v-btn>
                                    <v-btn text color="primary" @click="$refs.dialog.save(person.birthday)"
                                      >Aceptar</v-btn
                                    >
                                  </v-date-picker>
                                </v-dialog>
