<template>
  <v-container grid-list-xs>
    <v-data-table
      :headers="headers"
      :items="careers"
      :search="search"
      :items-per-page="5"
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      class="elevation-4"
      :footer-props="{
        'items-per-page-text': 'Carreras por página',
      }"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Carreras</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
          <v-btn color="primary" text icon class="mb-2" @click="initCareer">
            <v-icon large>refresh</v-icon>
          </v-btn>
          <v-btn color="primary" text class="mb-2" @click="dialog = true"> registrar </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="edit(item)" color="blue lighten-3"> edit </v-icon>
      </template>
      <template v-slot:no-data>
        <span>No hay carreras registradas</span>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="700px" transition="dialog-transition">
      <v-card>
        <v-card-title primary-title style="display: block">
          <div>
            <v-row>
              <v-combobox
                color
                v-model="faculty"
                :items="faculties"
                label="Facultad"
                @change="comparatorServer(faculty.value)"
              ></v-combobox>
            </v-row>

            <h3 class="headline mb-0">Carreras por agregar</h3>
          </div>
        </v-card-title>
        <v-card-text>
          <v-list>
            <v-list-item v-for="(career, c) in careersUpc" :key="c">
              <v-list-item-content>
                <v-list-item-title>{{ career.name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text color="danger" @click="dialog = false">cerrar</v-btn>
          <v-btn text color="primary" @click="saveCareer" :disabled="!faculty">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <Loading />
    <Snackbar />
  </v-container>
</template>
