<template>
  <v-container>
    <v-data-table
      dense
      :headers="headers"
      :items="checks"
      :page="page"
      :items-per-page="perPage"
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      hide-default-footer
      class="elevation-4"
      :footer-props="{
        'items-per-page-text': 'Chequeos por pagina',
      }"
    >
      <template v-slot:top>
        <v-toolbar flat color="white" class="header">
          <v-toolbar-title>Chequeo</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-row>
            <v-col cols="3" align-self="center">
              <v-select v-model="search.type" :items="typeCheck" label="Tipo de búsqueda"></v-select>
            </v-col>
            <v-col :cols="stateSearch ? 7 : 8" align-self="center">
              <v-text-field v-model="search.value" label="Búsqueda"></v-text-field>
            </v-col>
            <v-col cols="1" align-self="center">
              <v-btn icon @click="searchChecks()">
                <v-icon>search</v-icon>
              </v-btn>
            </v-col>
            <v-col v-if="stateSearch" cols="1" align-self="center">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon @click="clearSearch()" dark v-bind="attrs" v-on="on">
                    <v-icon color="red">clear</v-icon>
                  </v-btn>
                </template>
                <span>Limpiar búsqueda</span>
              </v-tooltip>
            </v-col>
          </v-row>
        </v-toolbar>
      </template>
      <template v-slot:no-data>
        <p>no hay datos</p>
        <v-btn color="primary" style="margin-bottom: 20px">Refrescar</v-btn>
        <br />
      </template>
      <template v-slot:[`item.type`]="{ item }">
        <span>{{ getRol(item.evaluator.user.roles) }}</span>
      </template>
      <template v-slot:[`item.answers`]="{ item }">
        <v-icon small class="mr-2" color="blue lighten-3" @click="showAnswers(item)"> edit </v-icon>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination circle v-model="page" :length="pageCount" @next="next()"></v-pagination>
    </div>

    <v-dialog v-model="dialogAnswers" scrollable :overlay="false" max-width="800px" transition="dialog-transition">
      <v-card class="" elevation="" max-width="">
        <v-card-title primary-title> Chequeos de {{ currentPerson.fullName }} </v-card-title>
        <v-card-text>
          <v-select :items="rotations" v-model="rotation" label="Rotaciones" @change="getChecks()"></v-select>
          <v-container v-if="loadingDialog" fluid fill-height style="background-color: rgba(255, 255, 255, 0.8)">
            <v-layout justify-center align-center>
              <div class="text-center">
                <v-progress-circular color="primary" indeterminate :size="40"></v-progress-circular>
                <p>{{ textLoading }}</p>
              </div>
            </v-layout>
          </v-container>
          <div v-else-if="checksWithAnswers.length > 0">
            <h3>Observación De Chequeos</h3>
            <v-row>
              <v-col v-for="(observation, co) in checksObservation" :key="co">
                <h4>Chequeo {{ co + 1 }}</h4>
                <p>{{ observation }}</p>
              </v-col>
            </v-row>
            <v-divider class=""></v-divider>
            <h3>Respuestas</h3>
            <br />
            <v-list subheader two-line class="listAnswers">
              <v-list-item v-for="(question, ca) in checksWithAnswers" :key="ca">
                <v-list-item-content>
                  <v-list-item-title style="white-space: none">{{ question.question }}</v-list-item-title>

                  <v-list-item-subtitle v-for="(answer, a) in question.answers" :key="a">
                    <v-row dense>
                      <v-col cols="9" style="padding: 5px 20px">Chequeo {{ a + 1 }}</v-col>
                      <v-col cols="3" style="padding: 5px 10px">
                        <v-checkbox dense disabled v-model="answer.answer"></v-checkbox>
                        <v-menu offset-y :nudge-width="200" :close-on-content-click="false" class="menu-filter">
                          <template v-slot:activator="{ on: menu, attrs }">
                            <v-tooltip bottom>
                              <template v-slot:activator="{ on: tooltip }">
                                <v-btn icon color="primary" v-bind="attrs" v-on="{ ...tooltip, ...menu }">
                                  <v-icon>edit</v-icon>
                                </v-btn>
                              </template>
                              <span>Observación de la respuesta</span>
                            </v-tooltip>
                          </template>
                          <v-card class="white pa-3" style="width: 300px">
                            {{ answer.observation }}
                          </v-card>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </div>
          <div v-else>
            <p class="text-center">No hay chequeos en esta rotación</p>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<style lang="scss">
.header {
  margin-top: 10px;
  .v-toolbar__content {
    height: 100px !important;
  }
}

.v-data-table__wrapper {
  margin-top: 20px;
}
.listChecks {
  .v-list-item__subtitle {
    white-space: normal;
  }
}
.listAnswers {
  .v-list-item__content {
    padding: 0;
  }
  .v-list-item__title {
    white-space: normal;
  }
  .v-input--selection-controls {
    margin-top: 0;
    padding-top: 0;
    display: inline-block;
  }
  .v-messages {
    display: none;
  }
}
</style>
