<template>
  <v-card v-if="module">
    <v-toolbar>
      <v-row>
        <v-col cols="10" md="10">
          <v-card-title primary-title>
            <h3 class="headline mb-0">Procedimientos del módulo {{ module.name }}</h3>
          </v-card-title>
        </v-col>
        <v-col cols="2" md="2" class="d-flex flex-row-reverse align-center">
          <v-btn icon dark @click="closeDialogPro()">
            <v-icon color="error">mdi-close</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-toolbar>
    <v-card-text>
      <v-container grid-list-xs>
        <v-form v-model="valid" :lazy-validation="lazy" ref="formProcedure">
          <v-row>
            <v-col cols="6" md="5">
              <v-text-field
                name="nombre"
                v-model="procedure.name"
                label="Procedimiento"
                required
                :rules="validateProcedure.name"
              ></v-text-field>
            </v-col>
            <v-col cols="6" md="6">
              <v-text-field name="descripcion" label="Descripción" v-model="procedure.description"></v-text-field>
            </v-col>
            <v-icon :disabled="!valid" @click="clearProcedure()">backspace</v-icon>
            <v-icon :disabled="!valid" @click="addProcedure()">
              {{ editedIndexPro === -1 ? 'add_circle' : 'edit' }}</v-icon
            >
          </v-row>
        </v-form>
        <v-data-table
          :headers="headersPro"
          :items="procedures"
          :loading="loading"
          no-data-text="No hay procedimientos"
          :loading-text="loading ? 'Cargando... por favor espere' : ''"
          class="elevation-5"
          hide-default-footer
          :items-per-page="perPage"
        >
          <template v-slot:[`item.action`]="{ item }">
            <v-icon small class="mr-2" @click="editProcedure(item)">
              edit
            </v-icon>
            <v-icon small @click="deleteProcedure(item)">
              delete
            </v-icon>
          </template>
        </v-data-table>
        <div class="text-center pt-2">
          <v-pagination
            circle
            v-model="page"
            :length="pageCount"
            @next="nextPage()"
            @previous="pageData = page"
            @input="hablePaginate"
            :total-visible="perPage"
          ></v-pagination>
        </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>
