<template>
  <v-container grid-list-xs>
    <v-data-table
      :headers="headers"
      :items="assignments"
      :search="search"
      :items-per-page="5"
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      class="elevation-4"
      :footer-props="{
        'items-per-page-text': 'asignaciones por página',
      }"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Asignaciones de profesores</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
          <v-dialog v-model="dialog" max-width="700px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" text icon class="mb-2" v-on="on">
                <v-img src="@/assets/images/asignacion_docente_add.png" height="40" width="40" contain></v-img>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-form ref="formAssignment" v-model="valid" :lazy-validation="lazy">
                    <v-row>
                      <v-col>
                        <v-autocomplete
                          v-model="assignment.teacherId"
                          :items="teachers"
                          label="Profesores"
                          required
                          :rules="validateAssignment.teacher"
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" sm="6" md="6">
                        <v-autocomplete
                          v-model="subject"
                          :items="subjects"
                          label="Asignaturas"
                          required
                          :rules="validateAssignment.subject"
                          @change="getModules"
                        ></v-autocomplete>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <v-autocomplete
                          v-model="assignment.moduleId"
                          :items="modules"
                          label="Módulos"
                          required
                          :rules="validateAssignment.module"
                          :disabled="!subject || modules.length == 0"
                          @change="getScenariosByModules"
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" sm="6" md="6">
                        <v-autocomplete
                          v-model="assignment.scenarioId"
                          :items="scenarios"
                          label="Escenarios de prácticas"
                          required
                          :rules="validateAssignment.scenario"
                          :disabled="!assignment.moduleId || scenarios.length == 0"
                          @change="getAreas"
                        ></v-autocomplete>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <v-autocomplete
                          v-model="assignment.areaId"
                          :items="areas"
                          label="Áreas"
                          required
                          :disabled="!assignment.scenarioId || areas.length == 0"
                          :rules="validateAssignment.subject"
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="save" :disabled="!valid">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="edit(item)" color="blue lighten-3"> edit </v-icon>
      </template>
      <template v-slot:[`item.procedure`]="{ item }">
        <v-icon large class="mr-2" @click="openProcedure(item)" text-center> search </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary">Reset</v-btn>
      </template>
    </v-data-table>
    <Loading />
  </v-container>
</template>
