<template>
  <v-container grid-list-xs>
    <v-tabs v-model="tab">
      <v-tab>
        Escenarios de prácticas
      </v-tab>
      <v-tab>
        Áreas de prácticas
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-container class="">
          <scenarios />
        </v-container>
      </v-tab-item>
      <v-tab-item>
        <areas />
      </v-tab-item>
    </v-tabs-items>
    <Snackbar :msg="'error'" :color="'red darken-4'" />
    <Loading />
  </v-container>
</template>

<style lang="scss" scoped>
.card {
  overflow-y: auto;
}
</style>

<style lang="scss"></style>
