<template>
  <v-container grid-list-xs>
    <v-data-table
      :headers="headers"
      :items="modules"
      :search="search"
      :items-per-page="perPage"
      dense
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      class="elevation-4"
      hide-default-footer
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Práctica</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
          <!-- <v-spacer></v-spacer> -->
          <v-dialog v-model="dialogModule" max-width="700px" persistent>
            <template v-slot:activator="{ on }">
              <v-btn color="primary" text icon class="mb-2" v-on="on">
                <v-img src="@/assets/images/practica_add.png" height="40" width="40" contain></v-img>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-form ref="formModule" v-model="valid" :lazy-validation="lazy">
                    <v-row>
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="module.code"
                          label="Código de la práctica"
                          :counter="7"
                          required
                          :rules="validateModule.code"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="module.name"
                          label="Nombre de la práctica"
                          required
                          :rules="validateModule.name"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="module.description" label="Descripción"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12">
                        <v-autocomplete
                          v-model="module.subjectCode"
                          :items="subjects"
                          :rules="validateModule.subject"
                          label="Asignatura"
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="save" :disabled="!valid">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogProcedure" max-width="700px" persistent>
            <ProcedureComponent v-if="dialogProcedure" :module="module" @closeDialogPro="closeDialogPro" />
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="editModule(item)" color="blue lighten-3">
          edit
        </v-icon>
        <!-- <v-icon
        small
        @click="deleteDocente(item)"
        color="red"
      >
        delete
      </v-icon> -->
      </template>
      <template v-slot:[`item.procedure`]="{ item }">
        <v-icon large class="mr-2" @click="openProcedure(item)" text-center>
          search
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary">Reset</v-btn>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        circle
        v-model="page"
        :length="pageCount"
        @next="nextPage()"
        @previous="pageData = page"
        @input="hablePaginate"
        :total-visible="perPage"
      ></v-pagination>
    </div>
    <Loading />
  </v-container>
</template>
