<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="scenarios"
      :search="search"
      :loading="loadingScenario"
      :loading-text="loadingScenario ? 'Cargando... por favor espere' : ''"
      :items-per-page="perPage"
      hide-default-footer
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Escenario de práctica</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
          <v-dialog v-model="dialog" max-width="800px" persistent>
            <template v-slot:activator="{ on }">
              <v-btn color="primary" text icon class="mb-2" v-on="on">
                <v-img src="@/assets/images/escenario_add.png" height="40" width="40" contain></v-img>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-form ref="formScenario" v-model="validScenario" :lazy-validation="lazyScenario">
                    <v-row>
                      <v-col cols="12" sm="4" md="4">
                        <v-select
                          v-model="scenario.sceneType"
                          :items="scenariosType"
                          label="Tipo de escenarios"
                          :rules="formScenarioValid.scene_type"
                          @change="selectScenario"
                        ></v-select>
                      </v-col>
                      <v-col cols="10" sm="6" md="6" align-self="center">
                        <v-text-field
                          label="Escenario"
                          type="text"
                          v-model="scenario.name"
                          :rules="formScenarioValid.name"
                          :prefix="scenariosTypeText"
                          :disabled="scenario.sceneType == null"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="2" sm="2" md="2" align-self="center">
                        <v-btn icon color="primary" @click="searchScenario" :disabled="scenario.name == null">
                          <v-icon>mdi-text-search</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col
                        cols="12"
                        :md="scenario.sceneType == 1 || scenario.sceneType == 2 ? 6 : 12"
                        :sm="scenario.sceneType == 1 || scenario.sceneType == 2 ? 6 : 12"
                      >
                        <v-select
                          v-model="scenario.entity"
                          :items="entities"
                          label="Entidad"
                          :rules="formScenarioValid.complexity_level"
                          :disabled="!validateScenario"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="6" v-if="scenario.sceneType == 1 || scenario.sceneType == 2">
                        <v-select
                          v-model="scenario.complexityLevel"
                          :items="levelsComplexities"
                          label="Nivel de complejidad"
                          :rules="formScenarioValid.complexity_level"
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12">
                        <v-textarea
                          label="Descripción"
                          v-model="scenario.description"
                          :disabled="!validateScenario"
                        ></v-textarea>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="saveOrUpdate" :disabled="!validScenario">
                  {{ editedIndex === -1 ? 'Guardar' : 'Actualizar' }}</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="edit(item)"> edit </v-icon>
        <v-icon small @click="deleteEscenario(item)"> delete </v-icon>
      </template>
      <template v-slot:[`item.quotas`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn small color="blue" icon text @click="openAssign(item)" v-bind="attrs" v-on="on">
              <v-icon color="green" v-if="!item.quotas">add</v-icon>
              <p v-else>{{ item.quotas }}</p>
            </v-btn>
          </template>
          <span>Asignar cupos a {{ item.name }}</span>
        </v-tooltip>
      </template>
      <template v-slot:[`item.areas`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn small color="blue" icon text @click="getAreas(item)" v-bind="attrs" v-on="on">
              <v-icon color="green">search</v-icon>
            </v-btn>
          </template>
          <span>Consultar áreas del escenario {{ item.name }}</span>
        </v-tooltip>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Refrescar</v-btn>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        circle
        v-model="page"
        :length="pageCount"
        @next="nextPage()"
        @previous="pageData = page"
        @input="hablePaginate"
        :total-visible="perPage"
      ></v-pagination>
    </div>
    <v-dialog v-model="dialogScenarioSimilarity" :overlay="false" max-width="500px" transition="dialog-transition">
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Escenarios de prácticas similares</h3>
          </div>
        </v-card-title>
        <v-card-text>
          <p>
            Si el escenario de práctica que esta ingresando es diferente a la que salen a continuación, por favor de
            click en continuar, de lo contrario seleccione la opción.
          </p>
          <v-list>
            <v-list-item v-for="(scenario, i) in scenariosSimilarity" :key="i" @click="asignarScenario(scenario.id)">
              <v-list-item-content>
                <v-list-item-title>{{ scenario.name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="dialogScenarioSimilarity = false">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogArea"
      scrollable
      persistent
      :overlay="false"
      max-width="600px"
      transition="dialog-transition"
    >
      <area-by-scenario
        v-if="dialogArea"
        :areas="areasByScenario"
        :scenario="scenario"
        :areasWithOutScenario="areasWithOutScenario"
        @closeArea="dialogArea = false"
      />
    </v-dialog>
    <v-dialog v-model="dialogAssignQuota" persistent :overlay="false" max-width="500px" transition="dialog-transition">
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Cupos de estudiantes</h3>
          </div>
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="scenario.quotas"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="closeAssign">Cerrar</v-btn>
          <v-btn color="blue darken-1" text @click="assignQuotas">Asignar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { LevelComplexityType, LevelComplexityTypeText } from '@/domain/entities/practiceScenario/LevelComplexity';
import { PracticeScenario } from '@/domain/entities/practiceScenario/PracticeScenario';
import { ScenarioType, ScenarioTypeText } from '@/domain/entities/practiceScenario/ScenarioType';
import { Select } from '@/domain/entities/select/Select';
import { IArea, IPracticeScenario, ISelect } from '@/interfaces/interfaces';
import { practicScenarioService } from '@/services/practicScenarioService';
import Loading from '@/components/loading.vue';
import Snackbar from '@/components/Snackbar.vue';
import AreaByScenario from '@/components/areas/AreaByScenario.vue';
import { Area } from '@/domain/entities/practiceScenario/Area';
import { globalSer } from '@/services/globalService';
@Component({
  name: 'escenariosVue',
  components: { Loading, Snackbar, AreaByScenario },
})
export default class Scenarios extends Vue {
  public scenarios: PracticeScenario[] = [];
  public scenario: PracticeScenario = new PracticeScenario();
  public defaultEscenario: PracticeScenario = new PracticeScenario();
  public editedIndex = -1;
  public loadingScenario = true;
  public dialog = false;
  public dialogArea = false;
  public dialogScenarioSimilarity = false;
  public dialogAssignQuota = false;
  public validScenario = true;
  public scenariosTypeText = '';
  public lazyScenario = false;
  public scenariosSimilarity: PracticeScenario[] = [];
  public scenariosByType: ISelect[] = [];
  public validateScenario = false;
  public selectedScenario = 0;

  public perPage = 1;
  public page = 1;
  public pageCount = 0;
  public totalScenarios = 0;

  public levelsComplexities = Select.select(LevelComplexityType, LevelComplexityTypeText);
  public scenariosType = Select.select(ScenarioType, ScenarioTypeText);
  public entities: ISelect[] = [
    { value: 1, text: 'Pública' },
    { value: 2, text: 'Privada' },
  ];
  public search = '';
  public headers = [
    {
      text: '',
      align: 'left',
      sortable: false,
      value: 'num',
    },
    { text: 'Nombre', value: 'name' },
    { text: 'Descripción', value: 'description' },
    { text: 'Cupos', value: 'quotas' },
    { text: 'Areas', value: 'areas', sortable: false },
    { text: 'Acción', value: 'action', sortable: false },
  ];

  // areas
  public areasByScenario: Area[] = [];
  public areasWithOutScenario: ISelect[] = [];

  public formScenarioValid = {
    name: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
    complexity_level: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
    scene_type: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
  };
  get formTitle(): string {
    return this.editedIndex === -1 ? 'Nuevo escenario de Práctica' : 'Editar escenario de Práctica';
  }

  public async selectScenario($e) {
    const scenarioAux = this.scenariosType.find((scenario) => scenario.value === $e);
    this.scenariosTypeText = scenarioAux?.text as string;
    if (scenarioAux?.value === ScenarioType.OTRO) {
      this.scenariosTypeText = '';
    }
  }
  public async searchScenario() {
    this.validateScenario = true;
    this.$store.commit('setLoading', {
      loading: true,
      msg: 'Buscando escenarios de prácticas similares',
    });
    const resp = await practicScenarioService.searchScenario(
      `${this.scenariosTypeText === '' ? '' : this.scenariosTypeText} ${this.scenario.name}`
    );
    this.$store.commit('setLoading', { loading: false, msg: '' });
    if (resp.data.state) {
      this.dialogScenarioSimilarity = true;
      const scenariosAux = resp.data.data.scenarios as IPracticeScenario[];
      this.scenariosSimilarity = scenariosAux.map((scenario) => new PracticeScenario(scenario));
    }
  }

  public async asignarScenario(scenarioId: number) {
    const scenarioAux = this.scenarios.find((s) => s.id === scenarioId);
    if (scenarioAux) {
      globalSer.alert('Ya se encuentra asignado este escenario al programa académico', 'error');
      this.close();
    } else {
      this.$store.commit('setLoading', {
        loading: true,
        msg: 'Asignando escenario a la carrera ...',
      });
      const resp = await practicScenarioService.scenarioInCareer(scenarioId);
      this.$store.commit('setLoading', { loading: false, msg: '' });
      if (resp.data.state) {
        globalSer.alert('Se asigno el escenario a la carrera correctamente', 'success');
        this.close();
        this.scenarios.push(
          this.scenariosSimilarity.find((scenario) => scenario.id === scenarioId) as PracticeScenario
        );
      } else {
        globalSer.alert('No se pudo asignar este escenario', 'error');
      }
    }
  }

  public async created(): Promise<void> {
    this.initialize();
  }

  public async initialize(): Promise<void> {
    this.getScenarios();
  }

  public async getScenarios() {
    this.scenarios = [];
    const resp = await practicScenarioService.getPaginate();
    if (resp.data.state) {
      this.scenarios = (resp.data.data.scenarios as IPracticeScenario[]).map(
        (scenario) => new PracticeScenario(scenario)
      );
      this.perPage = resp.data.data.per_page;
      this.pageCount = Math.ceil(resp.data.data.total / this.perPage);
      this.totalScenarios = resp.data.data.total;
    }
    this.loadingScenario = false;
  }

  public nextPage() {
    this.hablePaginate();
  }
  public previous() {
    this.hablePaginate();
  }
  public async hablePaginate() {
    this.scenarios = [];
    this.loadingScenario = true;
    const resp = await practicScenarioService.getPaginate(this.page);
    if (resp.data.state) {
      this.scenarios = (resp.data.data.scenarios as IPracticeScenario[]).map(
        (scenario) => new PracticeScenario(scenario)
      );
    }
    this.loadingScenario = false;
  }

  public async getAreas(scenario: PracticeScenario) {
    this.areasWithOutScenario = [];
    this.areasByScenario = [];
    this.scenario = scenario;
    this.$store.commit('setLoading', { loading: true, msg: 'Cargando áreas' });
    const resp = await practicScenarioService.getAreas(scenario.id as number);
    if (resp.data.state) {
      this.areasByScenario = (resp.data.data.areas as IArea[]).map((area) => new Area(area));
    }
    this.areasWithOutScenario = await practicScenarioService.getAreasWithoutScenarios(scenario.id as number);
    this.dialogArea = true;
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public saveOrUpdate() {
    if (this.editedIndex === -1) {
      this.save();
    } else {
      this.update();
    }
  }

  public async save(): Promise<void> {
    this.$store.commit('setLoading', {
      loading: true,
      msg: 'Creando escenario de práctica',
    });
    const respScenario = await practicScenarioService.post(this.scenario, this.scenariosTypeText);
    if (respScenario.data.state) {
      this.scenarios.push(new PracticeScenario(respScenario.data.data.practiceScenario as IPracticeScenario));
    } else {
      globalSer.alert('ERROR : ' + respScenario.data.message, 'error');
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
    this.close();
  }

  public async edit(item: any): Promise<void> {
    this.editedIndex = this.scenarios.indexOf(item);
    const obj = Object.assign<unknown, IPracticeScenario>({}, item.toJson());
    this.scenario = new PracticeScenario(obj);
    this.dialog = true;
    this.validateScenario = true;
  }

  public async update(): Promise<void> {
    this.$store.commit('setLoading', {
      loading: true,
      msg: 'Actualizando escenario de práctica',
    });
    // const id = this.scenarios[this.editedIndex] === undefined ? 0 : this.scenarios[this.editedIndex].id;
    const resp = await practicScenarioService.put(this.scenario);
    if (resp.data.state) {
      globalSer.alert('Se modificó de manera éxitosa', 'success');
      this.close();
      this.initialize();
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public async deleteEscenario(item): Promise<void> {
    this.$store.commit('setLoading', {
      loading: true,
      msg: 'Eliminando escenario de práctica',
    });
    const resp = await practicScenarioService.deleteScenario(item.id);
    if (resp.data.state) {
      globalSer.alert('Se elimino de manera éxitosa', 'success');
      this.close();
      this.initialize();
    } else {
      globalSer.alert(resp.data.message, 'error');
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public close(): void {
    this.dialog = false;
    this.dialogScenarioSimilarity = false;
    this.dialogArea = false;
    this.scenariosByType = [];
    this.scenariosTypeText = '';
    this.validateScenario = false;
    setTimeout(() => {
      // this.scenario = Object.assign({}, new PracticeScenario());
      this.scenario = new PracticeScenario();
      this.editedIndex = -1;
      (this.$refs.formScenario as any).reset();
    }, 300);
  }

  public async assignQuotas() {
    this.$store.commit('setLoading', {
      loading: true,
      msg: 'Asignando cupos',
    });
    const resp = await practicScenarioService.assignQuotas(this.scenario);
    if (!resp.data.state) {
      globalSer.alert('Error', 'error');
    }
    await this.getScenarios();
    this.closeAssign();
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public closeAssign() {
    this.dialogAssignQuota = false;
  }

  public openAssign(item) {
    const obj = Object.assign<unknown, IPracticeScenario>({}, item.toJson());
    this.scenario = new PracticeScenario(obj);
    this.dialogAssignQuota = true;
  }
}
</script>

<style></style>
