<template>
  <v-container bg fill-height text-xs-center align-center>
    <v-col align-center>
      <v-row align="center" justify="center" class="grey lighten-5" style="height: 600px;">
        <v-card class="elevation-12" width="500px">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title justify-center>Ingrese una nueva contraseña</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form v-model="validForm" :lazy-validation="lazyForm">
              <v-text-field
                v-model="newPassword"
                label="Nueva Contraseña"
                :rules="validate.newPassword"
                :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword"
              ></v-text-field>
              <v-text-field
                v-model="repeatPassword"
                label="Repetir Nueva Contraseña"
                :rules="validate.repeatPassword"
                :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                :type="showPassword ? 'text' : 'password'"
              ></v-text-field>
              <v-divider class=""></v-divider>
              <h3>Pregunta de seguridad</h3>
              <p>
                Esta respuesta le ayudara por si se le olvida su contraseña
              </p>
              <v-select v-model="question" :items="questions" label="Pregunta" :rules="validate.questions"></v-select>

              <v-text-field v-model="answer" label="Respuesta" :rules="validate.answer" type="text"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" @click="logout()">Salir</v-btn>
            <v-btn color="success" @click="changeNewPassword()" :disabled="!validForm">Cambiar contraseña</v-btn>
          </v-card-actions>
        </v-card>
      </v-row>
    </v-col>
    <Loading />
    <Snackbar :color="'red darken-4'" />
  </v-container>
</template>
