<template>
  <div>
    <v-container class="">
      <v-data-table
        :headers="headers"
        :items="areas"
        :loading="loading"
        :loading-text="loading ? 'Cargando... por favor espere' : ''"
        :items-per-page="perPage"
        hide-default-footer
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Áreas de prácticas</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field v-model="search" label="Búsqueda" single-line hide-details></v-text-field>
            <v-btn icon color="">
              <v-icon dark center>search</v-icon>
            </v-btn>
            <v-btn @click="newArea = true"> nueva área </v-btn>
          </v-toolbar>
          <v-container v-if="newArea" class="mt-2 new-area">
            <v-form ref="formArea" v-model="validArea" :lazy-validation="lazyArea">
              <v-row>
                <v-col cols="10">
                  <v-text-field
                    name="name"
                    v-model="area.name"
                    label="Nombre"
                    id="id"
                    :rules="formAreaValid.name"
                  ></v-text-field>
                </v-col>
                <v-col cols="2">
                  <v-btn small color="success" block @click="searchArea()">Buscar</v-btn>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="10" style="padding: 0 10px">
                  <v-textarea
                    rows="2"
                    clearable
                    clear-icon="mdi-close-circle"
                    label="Descripción"
                    v-model="area.description"
                  ></v-textarea>
                </v-col>
                <v-col cols="2" style="padding: 0 10px">
                  <v-btn small color="blue" block @click="save()" :disabled="!validArea || !validateArea">{{
                    title
                  }}</v-btn
                  ><br />
                  <v-btn small color="red" text block @click="close">Cancelar</v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </template>
        <template v-slot:[`item.action`]="{ item }">
          <v-icon small class="mr-2" @click="edit(item)"> edit </v-icon>
          <v-icon small @click="deleteArea(item)"> delete </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">Refrescar</v-btn>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination
          circle
          v-model="page"
          :length="pageCount"
          @next="nextPage()"
          @previous="pageData = page"
          @input="hablePaginate"
          :total-visible="perPage"
        ></v-pagination>
      </div>
    </v-container>
    <v-dialog v-model="dialogAreaSimilarity" :overlay="false" max-width="500px" transition="dialog-transition">
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Áreas de prácticas similares</h3>
          </div>
        </v-card-title>
        <v-card-text>
          <p>
            Si el área de práctica que esta ingresando es diferente a la que salen a continuación, por favor de click en
            continuar, de lo contrario seleccione la opción.
          </p>
          <v-list>
            <v-list-item v-for="(area, i) in areasSimilarity" :key="i" @click="edit(area)">
              <v-list-item-content>
                <v-list-item-title>{{ area.name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="dialogAreaSimilarity = false">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Area } from '@/domain/entities/practiceScenario/Area';
import { IArea } from '@/interfaces/interfaces';
import { globalSer } from '@/services/globalService';
import { practicScenarioService } from '@/services/practicScenarioService';
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
@Component({})
export default class Areas extends Vue {
  public editItem = -1;
  public areas: Area[] = [];
  public areasSimilarity: Area[] = [];
  public area: Area = new Area();
  public loading = true;
  public perPage = 1;
  public page = 1;
  public pageCount = 0;
  public totalAreas = 0;
  public lazyArea = false;
  public newArea = false;
  public search = '';
  public validArea = false;
  public validateArea = false;
  public dialogAreaSimilarity = false;
  public headers = [
    {
      text: '',
      align: 'left',
      sortable: false,
      value: 'num',
    },
    { text: 'Nombre', value: 'name' },
    { text: 'Descripción', value: 'description' },
    { text: 'Acción', value: 'action', sortable: false },
  ];
  public formAreaValid = {
    name: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
  };

  get title() {
    return this.editItem === -1 ? 'Registrar' : 'Actualizar';
  }

  public async created() {
    this.initialize();
  }

  public async initialize() {
    const resp = await practicScenarioService.getAreasPaginate();
    if (resp.data.state) {
      this.areas = (resp.data.data.areas as IArea[]).map((area) => new Area(area));
      this.perPage = resp.data.data.per_page;
      this.pageCount = Math.ceil(resp.data.data.total / this.perPage);
      this.totalAreas = resp.data.data.total;
    }
    this.loading = false;
  }

  public async searchArea() {
    this.validateArea = true;
    this.$store.commit('setLoading', {
      loading: true,
      msg: 'Buscando áreas de prácticas similares',
    });
    const resp = await practicScenarioService.searchArea(this.area.name);
    this.$store.commit('setLoading', { loading: false, msg: '' });
    if (resp.data.state) {
      this.dialogAreaSimilarity = true;
      const areasAux = resp.data.data.areas as IArea[];
      this.areasSimilarity = areasAux.map((area) => new Area(area));
    }
  }

  public nextPage() {
    this.hablePaginate();
  }
  public previous() {
    this.hablePaginate();
  }
  public async hablePaginate() {
    this.areas = [];
    this.loading = true;
    const resp = await practicScenarioService.getAreasPaginate(this.page);
    if (resp.data.state) {
      this.areas = (resp.data.data.areas as IArea[]).map((area) => new Area(area));
    }
    this.loading = false;
  }

  public close() {
    this.area = new Area();
    this.newArea = false;
    this.validateArea = false;
    (this.$refs.formArea as any).reset();
  }

  public async save() {
    if (this.editItem === -1) {
      this.$store.commit('setLoading', { loading: true, msg: 'Creando Área ...' });
      const resp = await practicScenarioService.saveArea(this.area);
      this.$store.commit('setLoading', { loading: false, msg: '' });
      if (resp.data.state) {
        globalSer.alert('Se registro de manera exitosa', 'success');
        this.areas.push(new Area(resp.data.data.area as IArea));
        this.area = new Area();
        (this.$refs.formArea as any).reset();
        this.validArea = false;
        this.newArea = false;
      } else {
        globalSer.alert('Error al registrar el área', 'error');
      }
      this.$store.commit('setLoading', { loading: false, msg: '' });
    } else {
      this.update();
    }
  }

  public async edit(item: any): Promise<void> {
    this.newArea = true;
    this.validateArea = true;
    this.editItem = this.areas.indexOf(item);
    const obj = Object.assign<unknown, IArea>({}, item.toJson());
    this.area = new Area(obj);
    this.dialogAreaSimilarity = false;
  }

  public async update() {
    this.$store.commit('setLoading', { loading: true, msg: 'Modificando Área ...' });
    const id = this.areas[this.editItem] === undefined ? 0 : this.areas[this.editItem].id;
    const resp = await practicScenarioService.updateArea(this.area, id);
    this.$store.commit('setLoading', { loading: false, msg: '' });
    if (resp.data.state) {
      globalSer.alert('Se modificó de manera éxitosa', 'success');
      this.close();
      this.initialize();
    } else {
      globalSer.alert('Error al modificar el área', 'error');
    }
    this.editItem = -1;
  }

  public async deleteArea(item) {
    this.$store.commit('setLoading', { loading: true, msg: 'Eliminando Área ...' });
    const resp = await practicScenarioService.deleteArea(item);
    if (resp.data.state) {
      globalSer.alert('Se elimino de manera éxitosa', 'success');
      this.areas = this.areas.filter((area) => area.id !== item.id);
    } else {
      globalSer.alert('Error al eliminar el área' + ' : ' + resp.data.message, 'error');
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }
}
</script>

<style lang="scss" scoped>
.new-area {
  border: 2px solid gray;
  border-radius: 20px;
}
</style>
