<template>
  <div>
    <v-card>
      <v-card-text class="pa-6">
        <h2>{{ title }} Área</h2>
        <v-form ref="formScenarioUpdate" v-model="validArea" :lazy-validation="lazyArea">
          <v-autocomplete
            v-model="areasId"
            multiple
            clearable
            @change="changeAreaWithoutScenario"
            :items="areasWithOutScenario"
            label="Áreas sin asociar"
          ></v-autocomplete>
          <v-row>
            <v-col cols="6"><v-btn small color="red" text block @click="closeArea">Cancelar</v-btn></v-col>
            <v-col cols="6"
              ><v-btn small color="blue" block @click="saveAreasInScenario()" :disabled="!validArea">{{
                title
              }}</v-btn></v-col
            >
          </v-row>
        </v-form>
        <v-list dense>
          <v-subheader>Áreas</v-subheader>
          <v-list-item v-for="(area, i) in areas" :key="i">
            <v-list-item-content>
              <v-list-item-title>{{ area.name }}</v-list-item-title>
            </v-list-item-content>
            <v-list-item-icon>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon @click="openDialog(area)" v-bind="attrs" v-on="on">
                    <v-icon small right class="mr-2"> rule </v-icon>
                  </v-btn>
                </template>
                <span>Ir a asignar áreas a módulos</span>
              </v-tooltip>
            </v-list-item-icon>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
    <v-dialog v-if="dialog" v-model="dialog" :overlay="false" max-width="800px" transition="dialog-transition">
      <v-card>
        <v-card-title primary-title> Asignar módulos a área </v-card-title>
        <v-card-text>
          <v-select @change="getModules" v-model="subject" :items="subjects" label="Asignaturas"></v-select>
          <v-container v-if="loadingDialog" fluid fill-height style="background-color: rgba(255, 255, 255, 0.6)">
            <v-layout justify-center align-center>
              <div class="text-center">
                <v-progress-circular color="primary" indeterminate :size="40"></v-progress-circular>
                <p>{{ textLoading }}</p>
              </div>
            </v-layout>
          </v-container>
          <v-row v-else>
            <v-col>
              <v-form ref="formScenarioUpdate" v-model="validAssign" :lazy-validation="lazyAssign">
                <v-select
                  v-model="moduleWithoutArea"
                  :items="modulesWithoutArea"
                  label="Módulos sin área"
                  @change="changeModuleWithoutArea"
                  multiple
                  :rules="formAssignValid.moduleWithoutArea"
                  :disabled="subject == null || modulesWithoutArea.length == 0"
                ></v-select>
              </v-form>
            </v-col>
            <v-col>
              <v-select
                v-model="moduleWithArea"
                :items="modulesWithArea"
                label="Módulos con área"
                :disabled="subject == null || modulesWithArea.length == 0"
              ></v-select>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn small color="red" text @click="closeAssign()">Cancelar</v-btn>
          <v-btn small color="blue" text @click="saveAssignAreaInModule()" :disabled="!validAssign">{{ title }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <loading />
  </div>
</template>

<script lang="ts">
import { Area } from '@/domain/entities/practiceScenario/Area';
import { PracticeScenario } from '@/domain/entities/practiceScenario/PracticeScenario';
import { ISelect } from '@/interfaces/interfaces';
import { globalSer } from '@/services/globalService';
import { practicScenarioService } from '@/services/practicScenarioService';
import { SubjectSer } from '@/services/subjectService';
import Vue from 'vue';
import { Component, Emit, Prop } from 'vue-property-decorator';
import Loading from '../loading.vue';
@Component({
  components: { Loading },
})
export default class AreaByScenario extends Vue {
  @Prop({ type: Array, default: [] }) public areas!: Area[];
  @Prop({ type: Array, default: [] }) public areasWithOutScenario!: ISelect[];
  @Prop({ type: PracticeScenario }) public readonly scenario!: PracticeScenario;

  public formAreaValid = {
    name: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
  };
  public formAssignValid = {
    moduleWithoutArea: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
  };
  public validArea = false;
  public lazyArea = false;
  public validAssign = false;
  public lazyAssign = false;
  public area: Area = new Area();
  public editItem = -1;
  public dialog = false;
  public subjects: ISelect[] = [];
  public subject = null;
  public modulesWithoutArea: ISelect[] = [];
  public areasId = null;
  public moduleWithoutArea: any = null;
  public modulesWithArea: ISelect[] = [];
  public moduleWithArea: any = null;
  public moduleId = null;
  public loadingDialog = false;
  public textLoading = '';
  @Emit('closeArea')
  public closeArea() {
    this.area = new Area();
  }
  get title() {
    return this.editItem === -1 ? 'Registrar' : 'Actualizar';
  }

  public changeModuleWithoutArea($e) {
    this.moduleWithoutArea = $e.length === 0 ? null : $e;
  }

  public changeAreaWithoutScenario($e) {
    this.areasId = $e.length === 0 ? null : $e;
  }

  public async created() {
    this.subjects = await SubjectSer.getSubjectSelect();
  }

  public closeAssign() {
    this.dialog = false;
    this.modulesWithoutArea = [];
    this.modulesWithArea = [];
    this.moduleWithArea = null;
    this.moduleWithoutArea = null;
    this.subject = null;
  }
  public async getModules($e) {
    this.modulesWithoutArea = [];
    this.modulesWithArea = [];
    this.loadingDialog = true;
    this.textLoading = 'Cargando módulos';
    const resp = await practicScenarioService.getSelectAreasWithModule(
      $e,
      this.area.id as number,
      this.scenario.id as number
    );
    if (resp.data.state) {
      this.modulesWithoutArea = (resp.data.data.modulesWithoutArea as any[]).map((area) => {
        return { value: area.id, text: area.name } as ISelect;
      });
      this.modulesWithArea = (resp.data.data.modulesWithArea as any[]).map((area) => {
        return { value: area.id, text: area.name } as ISelect;
      });
    }
    this.loadingDialog = false;
    this.textLoading = '';
  }

  public openDialog(area: Area) {
    this.dialog = true;
    this.area = area;
    this.subject = null;
  }

  public async saveAssignAreaInModule() {
    this.$store.commit('setLoading', { loading: true, msg: 'Asignando áreas a módulos' });
    const resp = await practicScenarioService.asignarAreaModule(
      this.area.id as number,
      this.scenario.id as number,
      this.moduleWithoutArea as number[]
    );
    this.$store.commit('setLoading', { loading: false, msg: '' });
    if (resp.data.state) {
      this.closeAssign();
      globalSer.alert('Asignaciones realizadas de manera correcta', 'success');
    } else {
      globalSer.alert(resp.data.message, 'error');
    }
  }
  public async saveAreasInScenario() {
    this.$store.commit('setLoading', { loading: true, msg: 'Asignando areas a escenario' });
    const resp = await practicScenarioService.asignarAreaInScenario(
      this.areasId as unknown as number[],
      this.scenario.id as number
    );
    this.$store.commit('setLoading', { loading: false, msg: '' });
    if (resp.data.state) {
      (this.areasId as unknown as number[]).forEach((area) => {
        const areaAux = this.areasWithOutScenario.find((a) => a.value === area);
        this.areas.push(new Area({ name: areaAux?.text as string, id: areaAux?.value as number }));
        this.areasWithOutScenario.splice(this.areasWithOutScenario.indexOf(areaAux as ISelect), 1);
      });
      this.areasId = null;
      globalSer.alert('Asignaciones realizadas de manera correcta', 'success');
    } else {
      globalSer.alert(resp.data.message, 'error');
    }
  }
}
</script>
