<template>
  <v-container bg fill-height grid-list-md text-xs-center align-center>
    <v-col align-center>
      <v-row align="center" justify="center" style="height: 600px">
        <!-- <v-card class="elevation-12" width="600px">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title justify-center>{{ title }}</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-container fluid v-if="roles.length > 1 && !isSelectRole">
                <v-radio-group v-model="rol" column>
                  <v-radio
                    v-for="(role, index) in roles"
                    :key="index"
                    :label="`${role.visual_name}`"
                    :value="role.id"
                  ></v-radio>
                </v-radio-group>
                <v-btn color="primary" @click="continuar()" :disabled="rol == null">Continuar</v-btn>
              </v-container>
              <v-container fluid v-if="roles.length == 1 || isSelectRole">
                <v-radio-group v-model="faculty" column>
                  <v-radio
                    v-for="(faculty, index) in faculties"
                    :key="index"
                    :label="`${faculty.name}`"
                    :value="faculty.id"
                  ></v-radio>
                </v-radio-group>
                <v-btn color="primary" @click="start()" :disabled="career == null">Continuar</v-btn>
              </v-container>
              <v-container fluid v-if="faculty">
                <v-radio-group v-model="career" column>
                  <v-radio
                    v-for="(careerr, index) in careers"
                    :key="index"
                    :label="`${careerr.name}`"
                    :value="careerr.id"
                  ></v-radio>
                </v-radio-group>
                <v-btn color="primary" @click="start()" :disabled="career == null">Continuar</v-btn>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" @click="logout()">Salir</v-btn>
          </v-card-actions>
        </v-card> -->
        <v-stepper v-model="step" style="width: 50%">
          <v-stepper-header>
            <v-stepper-step :complete="step > 1" step="1"> Facultad </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step :complete="step > 2" step="2"> Carrera </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step v-if="roles.length > 1" step="3"> Rol </v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <v-card class="mb-12">
                <v-card-text>
                  <v-container fluid v-if="roles.length == 1 || isSelectRole">
                    <v-radio-group v-model="faculty" column>
                      <v-radio
                        v-for="(facultyAux, index) in faculties"
                        :key="index"
                        :label="`${facultyAux.name}`"
                        :value="facultyAux"
                      ></v-radio>
                    </v-radio-group>
                  </v-container>
                </v-card-text>
              </v-card>

              <v-btn color="primary" @click="continuar"> Continuar </v-btn>

              <v-btn text @click="logout"> Salir </v-btn>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-card class="mb-12">
                <v-card-text>
                  <v-container fluid>
                    <v-radio-group v-model="career" column>
                      <v-radio
                        v-for="(careerr, index) in careers"
                        :key="index"
                        :label="`${careerr.name}`"
                        :value="careerr.id"
                      ></v-radio>
                    </v-radio-group>
                  </v-container>
                </v-card-text>
              </v-card>

              <v-btn color="primary" @click="continuar"> Continuar </v-btn>

              <v-btn text @click="step = 1"> Atras </v-btn>
            </v-stepper-content>

            <v-stepper-content v-if="roles.length > 1" step="3">
              <v-card class="mb-12">
                <v-card-text>
                  <v-radio-group v-model="rol" column>
                    <v-radio
                      v-for="(role, index) in roles"
                      :key="index"
                      :label="`${role.visual_name}`"
                      :value="role.id"
                    ></v-radio>
                  </v-radio-group>
                </v-card-text>
              </v-card>

              <v-btn color="primary" @click="step = 2"> Continuar </v-btn>

              <v-btn text @click="step = 2"> Atras </v-btn>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-row>
    </v-col>
    <Loading />
  </v-container>
</template>
