<template>
  <div>
    <v-app-bar absolute prominent app color="transparent" flat height="60">
      <v-app-bar-nav-icon v-if="!drawer" @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title color="green darken-2" dark class="tertiary--text font-weight-light align-self-center"
        >Prácticas formativas / {{ title }}</v-toolbar-title
      >

      <div class="flex-grow-1"></div>

      <v-menu bottom v-if="roles && roles.length > 0" origin="center center" transition="scale-transition">
        <template v-slot:activator="{ on: menu, attrs }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn icon v-bind="attrs" v-on="{ ...tooltip, ...menu }">
                <v-icon>person</v-icon>
              </v-btn>
            </template>
            <span>Roles</span>
          </v-tooltip>
        </template>

        <v-list>
          <v-list-item v-for="(role, i) in roles" :key="i" @click="selectRole(role)">
            <v-list-item-title>{{ role.visual_name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-menu bottom v-if="careers.length > 0" origin="center center" transition="scale-transition">
        <template v-slot:activator="{ on: menu, attrs }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn icon v-bind="attrs" v-on="{ ...tooltip, ...menu }">
                <v-img src="@/assets/images/carreras_azul.png" height="40" width="40" contain></v-img>
              </v-btn>
            </template>
            <span>Carreras</span>
          </v-tooltip>
        </template>
        <v-list>
          <v-list-item v-for="(career, i) in careers" :key="i" @click="selectCareer(career)">
            <v-list-item-title :class="career.id === careerId ? 'blue--text' : ''">{{ career.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn text @click="changeFaculty()"> cambiar facultad </v-btn>
      <v-btn icon @click="salir()">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      app
      floating
      dark
      color="primary"
      width="300"
      :expand-on-hover="false"
      mobile-breakpoint="960"
      src="https://demos.creative-tim.com/vue-material-dashboard/img/sidebar-2.32103624.jpg"
    >
      <template v-slot:img="attrs">
        <v-img v-bind="attrs" gradient="to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)" />
      </template>
      <v-list-item two-line>
        <v-list-item-avatar color="white">
          <v-img src="@/assets/icon.png" height="34" contain />
        </v-list-item-avatar>

        <v-list-item-title class="title">
          {{ names.rol }}
        </v-list-item-title>
      </v-list-item>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>{{ names.person }}</v-list-item-title>
          <v-list-item-subtitle>{{ names.career }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mx-3 mb-3" />
      <v-list nav>
        <div v-for="(link, l) in links" :key="l">
          <v-list-group v-if="link.subGroup.length" no-action>
            <template v-slot:activator>
              <v-list-item-icon>
                <v-img :src="require(`@/assets/images/${link.icon}.png`)" height="24" contain width="24"></v-img>
              </v-list-item-icon>
              <v-list-item-title> {{ link.title }}</v-list-item-title>
            </template>
            <v-list-item
              v-for="(linkGroup, j) in link.subGroup"
              :key="j"
              active-class="white--text"
              :to="linkGroup.path"
              id="item"
            >
              <v-list-item-icon>
                <v-img :src="require(`@/assets/images/${linkGroup.icon}.png`)" height="24" contain width="24"></v-img>
              </v-list-item-icon>
              <v-list-item-title v-text="linkGroup.title"></v-list-item-title>
            </v-list-item>
          </v-list-group>
          <v-list-item v-else :to="link.path" id="item" active-class="white--text">
            <v-list-item-action>
              <v-img :src="require(`@/assets/images/${link.icon}.png`)" height="24" contain width="24"></v-img>
            </v-list-item-action>
            <v-list-item-title>
              {{ link.title }}
            </v-list-item-title>
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>
    <loading />
  </div>
</template>
<style>
#appBar {
  width: auto;
}
#user {
  font-size: 15px;
}
#item {
  text-decoration: none;
}
</style>
