<template>
  <v-app>
    <Drawer />
    <Vista />
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import drawer from './drawer/AppDrawerComponent';
import Vista from './vista';

@Component({
  name: 'Dashboard',
  components: { drawer, Vista },
})
export default class Dashboard extends Vue {}
</script>
