<template>
  <v-card class="pa-4 event-card">
    <v-img contain height="200" :src="baseUrl + event.image"></v-img>
    <v-card-title primary-title>
      <h4 class="headline mb-0">{{ event.title }}</h4>
    </v-card-title>
    <v-card-text class="card-text">
      <div class="description">
        <div v-html="event.description"></div>
      </div>
      <p class="text-end font-weight-bold">{{ event.date }} - {{ event.hour }}</p>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { EventNew } from '../domain/entities/event/Event';
import { api } from '../helpers/api';
@Component
export default class EventCard extends Vue {
  @Prop({ type: EventNew, default: new EventNew() }) public readonly event!: EventNew;
  public baseUrl = api.baseUrl + '/images/';
}
</script>

<style lang="scss" scoped>
.event-card {
  min-height: 410px;
  max-height: 410px;
}
.card-text {
  height: 100px;
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
</style>
