<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent fullscreen>
      <v-container fluid fill-height style="background-color: rgba(255, 255, 255, 0.6)">
        <v-layout justify-center align-center>
          <div class="text-center">
            <v-progress-circular color="primary" indeterminate :size="70"></v-progress-circular>
            <p>{{ text }}</p>
          </div>
        </v-layout>
      </v-container>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
@Component
export default class Loading extends Vue {
  get dialog(): boolean {
    return this.$store.state.loading;
  }
  get text(): string {
    return this.$store.state.msg;
  }
}
</script>

<style lang="scss" scoped>
.loading {
  padding: 20px;
}
</style>
