<template>
  <v-snackbar :color="color" v-model="snackbar" timeout="4000" right top>
    {{ msg }}
  </v-snackbar>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
@Component
export default class Loading extends Vue {
  get snackbar() {
    return this.$store.state.snackbar;
  }

  get color() {
    return this.$store.state.colorSnackbar;
  }

  get msg() {
    return this.$store.state.msg;
  }
}
</script>

<style></style>
