<template>
  <v-form>
    <v-row>
      <v-col md="4" sm="12">
        <v-select v-model="academicPeriod" label="Periodo académico" :items="academicPeriods"></v-select>
      </v-col>
      <v-col md="4" sm="12">
        <v-select v-model="scenario" label="Escenario de práctica" :items="scenarios"></v-select>
      </v-col>
      <v-col md="4" sm="12" align-self="center">
        <v-btn small @click="searchReport" block color="blue">Buscar</v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue';
import { ReportMeta } from '@/domain/entities/report/ReportMeta';
import { ISelect } from '@/interfaces/interfaces';
import { Component, Emit } from 'vue-property-decorator';
import { academicPeriodService } from '@/services/academicPeriodService';
import { Report } from '@/domain/entities/report/Report';
import { attentionSer } from '@/services/attentionService';
import { ReportData } from '@/domain/entities/report/ReportData';
import { TypeChart } from '@/domain/entities/report/TypeChart';
import { practicScenarioService } from '@/services/practicScenarioService';
export interface Idata {
  names: string[];
  data: number[];
}
@Component({})
export default class FormAttentionBySubject extends Vue {
  public academicPeriods: ISelect[] = [];
  public scenarios: ISelect[] = [];
  public academicPeriod = null;
  public scenario = null;
  public reportMeta: ReportMeta[] = [];
  public report = new Report();
  public datasets: Idata = {
    names: [],
    data: [],
  } as Idata;
  public titleChart = '';

  @Emit('searchReport')
  public async searchReport() {
    await this.attentionsByScenario();
    this.report.chart = TypeChart.BAR;
    return {
      report: this.report,
      datasets: this.datasets,
      titleChart: this.titleChart,
      chart: 'bar',
      showChart: true,
    };
  }

  public async created() {
    this.scenarios = await practicScenarioService.getAllSelect();
    this.academicPeriods = await academicPeriodService.getAll();
  }

  public async attentionsByScenario() {
    this.datasets = {
      names: [],
      data: [],
    };
    this.report = new Report();
    this.$store.commit('setLoading', { loading: true, msg: 'Buscando datos para el reporte' });
    const resp = await attentionSer.attentionByScenario(this.scenario, this.academicPeriod);
    if (resp.data.state) {
      this.titleChart = this.scenarios.find((scenario) => scenario.value === this.scenario)?.text as string;
      this.report.reportMetas = [
        new ReportMeta({
          key: 'academic_period',
          value: this.academicPeriod as unknown as number,
          tabla: 'academic_periods',
        }),
        new ReportMeta({ key: 'scenario', value: this.scenario as unknown as number, tabla: 'practice_scenarios' }),
      ];
      this.report.reportDatas = [];
      let totalAttentions = 0;
      (resp.data.data.attentions as any[]).forEach((attention) => {
        totalAttentions += attention.total;
        (this.report.reportDatas as ReportData[]).push(
          new ReportData({ name: attention.name, total: attention.total, percentage: 0 })
        );
        this.datasets.data.push(attention.total as number);
        this.datasets.names.push(`${attention.name} (${attention.total}) atenciones`);
      });
      this.report.reportDatas.forEach((reportData) => {
        reportData.percentage = parseFloat(((reportData.total / totalAttentions) * 100).toFixed(2));
      });
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }
}
</script>

<style></style>
