<template>
  <v-form>
    <v-row>
      <v-col md="4" sm="12">
        <v-combobox v-model="academicPeriod" label="Periodo academico" :items="academicPeriods"></v-combobox>
      </v-col>
      <v-col md="4" sm="12">
        <v-combobox v-model="subject" label="Asignatura" :items="subjects"></v-combobox>
      </v-col>
      <v-col md="4" sm="12" align-self="center">
        <v-btn small @click="searchReport" block color="blue">Buscar</v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue';
import { ReportMeta } from '@/domain/entities/report/ReportMeta';
import { ISelect } from '@/interfaces/interfaces';
import { Component, Emit } from 'vue-property-decorator';
import { SubjectSer } from '@/services/subjectService';
import { academicPeriodService } from '@/services/academicPeriodService';
import { assistenceService } from '@/services/assistenceService';
import { Report } from '@/domain/entities/report/Report';
import { ReportData } from '@/domain/entities/report/ReportData';
import { TypeChart } from '@/domain/entities/report/TypeChart';
import { ResponseApi } from '@/helpers/ResponseApi';
export interface Idata {
  names: string[];
  data: number[];
}
@Component({})
export default class FormAttentionBySubject extends Vue {
  public academicPeriods: ISelect[] = [];
  public subjects: ISelect[] = [];
  public academicPeriod = null;
  public subject = null;
  public reportMeta: ReportMeta[] = [];
  public report = new Report();
  public datasets: Idata = {
    names: [],
    data: [],
  } as Idata;
  public subjectName = '';

  @Emit('searchReport')
  public async searchReport() {
    await this.studentAssistence();
    return {
      report: this.report,
      datasets: this.datasets,
      subjectName: this.subjectName,
      chart: 'bar',
      showChart: this.datasets.data.length > 0 ? true : false,
    };
  }

  public async created() {
    this.subjects = await SubjectSer.getSubjectSelect();
    this.subjects.unshift({ value: -1, text: 'todos' });
    this.academicPeriods = await academicPeriodService.getAll();
  }

  public async studentAssistence() {
    this.report = new Report();
    this.datasets = {
      names: [],
      data: [],
    };
    this.$store.commit('setLoading', { loading: true, msg: 'Buscando datos para el reporte' });
    let resp: ResponseApi;
    if ((this.subject as any).value === -1) {
      resp = await assistenceService.assistenceByCareer((this.academicPeriod as any).value);
    } else {
      resp = await assistenceService.assistenceBySubject(
        (this.subject as any).value,
        (this.academicPeriod as any).value
      );
    }
    if (resp.data.state) {
      this.report.chart = TypeChart.BAR;
      this.report.reportMetas = [
        new ReportMeta({
          key: 'academic_period',
          value: (this.academicPeriod as any).value,
          tabla: 'academic_periods',
        }),
        new ReportMeta({ key: 'subject', value: resp.data.data.subject.id, tabla: 'subjects' }),
      ];
      this.subjectName = resp.data.data.subject.name;
      const reportDatasAux: ReportData[] = [];
      (resp.data.data.assistenceData as any[]).forEach((assistence) => {
        reportDatasAux.push(
          new ReportData({ name: assistence.name, total: assistence.total, percentage: assistence.percentage })
        );
        this.datasets.data.push(assistence.total);
        this.datasets.names.push(`${assistence.name} ${assistence.total}`);
      });
      this.report.reportDatas = reportDatasAux;
      // this.report.reportDatas = [
      //   new ReportData({
      //     name: 'Asistencias',
      //     total: resp.data.data.assistences - resp.data.data.noAssistences,
      //   }),
      //   new ReportData({
      //     name: 'Inasistencias',
      //     total: resp.data.data.noAssistences,
      //   }),
      // ];
      // this.datasets;
      // this.datasets.data.push((resp.data.data.assistences - resp.data.data.noAssistences) as number);
      // this.datasets.names.push(`Asistencias ${resp.data.data.assistences - resp.data.data.noAssistences}`);
      // this.datasets.data.push(resp.data.data.noAssistences as number);
      // this.datasets.names.push(`Inasistencias ${resp.data.data.noAssistences}`);
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }
}
</script>

<style></style>
