<template>
  <div>
    <v-form>
      <v-row>
        <v-col md="3" sm="12">
          <v-select
            v-model="reportObject.academicPeriod"
            label="Periodo academico"
            :items="reportObject.academicPeriods"
          ></v-select>
        </v-col>
        <v-col md="3" sm="12">
          <v-select
            v-model="reportObject.subject"
            label="Asignatura"
            :items="reportObject.subjects"
            @change="getModules"
          ></v-select>
        </v-col>
        <v-col md="3" sm="12">
          <v-select
            v-model="reportObject.module"
            label="Módulo"
            :items="reportObject.modules"
            :disabled="reportObject.subject == null"
          ></v-select>
        </v-col>
        <v-col md="3" sm="12" align-self="center">
          <v-btn small @click="searchReport" block color="blue">Buscar</v-btn>
        </v-col>
      </v-row>
    </v-form>
    <div v-if="groups.length">
      <v-form :lazy-validation="false">
        <v-text-field
          :rules="formValidation.title"
          label="Título"
          v-model="report.title"
          class="align-center"
        ></v-text-field>
      </v-form>
      <v-row>
        <v-col cols="6" style="height: 380px; overflow: auto">
          <v-list dense>
            <v-list-group v-for="(group, g) in groups" :key="g" no-action sub-group :value="true">
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>Grupo práctica {{ g + 1 }}</v-list-item-title>
                </v-list-item-content>
              </template>
              <v-list-group v-for="(student, s) in group.students" :key="s" no-action sub-group :value="true">
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title>Estudiante {{ fullName(student.person) }}</v-list-item-title>
                  </v-list-item-content>
                </template>
                <v-list-item>
                  <v-list-item-title>Total Atenciones {{ student.attentionsAll }}</v-list-item-title>
                </v-list-item>
                <v-list-item>
                  <v-list-item-title>Total aceptadas {{ student.attentionsAccepted }}</v-list-item-title>
                </v-list-item>
                <v-list-item>
                  <v-list-item-title>Total encuestadas {{ student.attentionsEvaluated }}</v-list-item-title>
                </v-list-item>
                <!-- <v-list-item>
                <v-list-item-title>Resultado encuesta {{ student.encuesta }}</v-list-item-title>
              </v-list-item> -->
              </v-list-group>
            </v-list-group>
          </v-list>
        </v-col>
        <v-col>
          <vue-editor v-model="report.description"></vue-editor>
        </v-col>
      </v-row>
    </div>
    <div v-if="groups.length" class="d-flex justify-end">
      <v-btn color="blue darken-1" text @click="dialog = false"> Cerrar </v-btn>
      <v-btn color="blue darken-1" text @click="saveReport"> Guardar Reporte </v-btn>
    </div>
    <!-- <v-dialog v-model="dialogPdf" max-width="800">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="dialogPdf = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <pdf v-for="i in pageCount" :key="i" :page="i" :src="pdf" />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="
              dialogPdf = false;
              pdf = null;
            "
          >
            Cancelar
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialogPdf = false"> Cerrar </v-btn>
          <v-btn color="blue darken-1" text @click="saveReport"> Guardar Reporte </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { ReportMeta } from '@/domain/entities/report/ReportMeta';
import { ISelect } from '@/interfaces/interfaces';
import { Component, Emit } from 'vue-property-decorator';
import { SubjectSer } from '@/services/subjectService';
import { academicPeriodService } from '@/services/academicPeriodService';
import { Report } from '@/domain/entities/report/Report';
import { VueEditor } from 'vue2-editor';
import { moduleSer } from '@/services/moduleService';
import { studentService } from '@/services/studentService';
import pdf from 'vue-pdf';
import { reportService } from '@/services/reportService';
import { TypeReport } from '@/domain/entities/report/TypeReport';
import { TypeChart } from '@/domain/entities/report/TypeChart';
export interface Idata {
  names: string[];
  data: number[];
}
export interface IReportModule {
  academicPeriod: any;
  academicPeriods: ISelect[];
  subject: any;
  subjects: ISelect[];
  module: any;
  modules: ISelect[];
}
@Component({ components: { VueEditor, pdf } })
export default class FormPatientPoll extends Vue {
  public reportObject: IReportModule = {
    academicPeriod: null,
    academicPeriods: [],
    subject: null,
    subjects: [],
    module: null,
    modules: [],
  } as IReportModule;
  public reportMeta: ReportMeta[] = [];
  public report = new Report();
  public pdf: any = null;
  public datasets: Idata = {
    names: [],
    data: [],
  } as Idata;
  public dialogPdf = false;
  public subjectName = '';
  public page = 0;
  public pageCount = 0;
  public groups: any[] = [];
  public formValidation = {
    title: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
  };

  @Emit('searchReport')
  public async searchReport() {
    this.datasets = {
      names: [],
      data: [],
    };
    this.report = new Report();
    await this.studentWithPoll();
    this.report.title = '';
    this.report.description = '';
    this.report.chart = TypeChart.BAR;
    return {
      report: this.report,
      datasets: this.datasets,
      subjectName: this.subjectName,
      chart: 'bar',
      showChart: false,
    };
  }

  public fullName(person): string {
    return `${person.first_name} ${person.second_name != null ? person.second_name + ' ' : ''}${
      person.first_last_name
    } ${person.second_last_name}`;
  }

  public async created() {
    this.reportObject.subjects = await SubjectSer.getSubjectSelect();
    this.reportObject.academicPeriods = await academicPeriodService.getAll();
  }
  public async getFormData(showPdf: boolean) {
    this.report.reportCategory = TypeReport.PATIENTPOLLS;
    const formDataReport = new FormData();
    formDataReport.append('title', this.report.title);
    formDataReport.append('description', this.report.description as string);
    formDataReport.append('image', '');
    formDataReport.append('report_category', this.report.reportCategory.toString());
    formDataReport.append(
      'report_metas',
      JSON.stringify(this.report.reportMetas?.map((reportMeta) => reportMeta.toJson()))
    );
    formDataReport.append('report_datas', '[]');
    if (showPdf) {
      formDataReport.append('show_pdf', '1');
    }
    return formDataReport;
  }

  public async saveReport() {
    this.$store.commit('setLoading', { loading: true, msg: 'Generando PDF' });
    const resp = await reportService.saveReport(await this.getFormData(false));
    if (resp.data.state) {
      this.dialogPdf = false;
      this.report = new Report();
      this.pdf = null;
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public async getPdf() {
    if (this.pdf == null) {
      let resp;
      this.$store.commit('setLoading', { loading: true, msg: 'Generando PDF' });
      resp = await reportService.postReportAttentionsGetPdf('reportByPoll', await this.getFormData(true));
      this.pdf = pdf.createLoadingTask(resp);
      this.pdf.promise.then((pdfAux: any) => {
        this.pageCount = pdfAux.numPages;
      });
      this.$store.commit('setLoading', { loading: false, msg: '' });
    }
    this.dialogPdf = true;
  }

  public async studentWithPoll() {
    this.$store.commit('setLoading', { loading: true, msg: 'Buscando datos para el reporte' });
    const resp = await studentService.studentWithPoll(this.reportObject.module, this.reportObject.academicPeriod);
    if (resp.data.state) {
      this.report.reportMetas = [
        new ReportMeta({
          key: 'academic_period',
          value: this.reportObject.academicPeriod,
          tabla: 'academic_periods',
        }),
        new ReportMeta({ key: 'subject', value: resp.data.data.module.subject_id, tabla: 'subjects' }),
        new ReportMeta({ key: 'module', value: this.reportObject.module, tabla: 'modules' }),
      ];
      this.report.reportDatas = [];
      this.groups = resp.data.data.groups;
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public async getModules() {
    this.reportObject.modules = await moduleSer.getSeletBySubject(this.reportObject.subject);
  }
}
</script>

<style></style>
