<template>
  <div>
    <form-attention-by-subject v-if="typeReport == 1" @searchReport="searchReport" />
    <form-attention-by-module v-if="typeReport == 2" @searchReport="searchReport" />
    <form-student-assistence v-if="typeReport == 3" @searchReport="searchReport" />
    <form-checks v-if="typeReport == 4" @searchReport="searchReport" @close="close" />
    <form-attention-by-scenario v-if="typeReport == 5" @searchReport="searchReport" @close="close" />
    <form-patient-poll v-if="typeReport == 6" @searchReport="searchReport" />
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop } from 'vue-property-decorator';
import Vue from 'vue';
import FormStudentAssistence from './FormStudentAssistence.vue';
import FormAttentionBySubject from './FormAttentionBySubject.vue';
import FormAttentionByModule from './FormAttentionByModule.vue';
import FormAttentionByScenario from './FormAttentionByScenario.vue';
import FormChecks from './FormChecks.vue';
import FormPatientPoll from './FormPatientPoll.vue';
import { TypeReport } from '@/domain/entities/report/TypeReport';
@Component({
  components: {
    FormAttentionBySubject,
    FormStudentAssistence,
    FormAttentionByModule,
    FormChecks,
    FormPatientPoll,
    FormAttentionByScenario,
  },
})
export default class FormReport extends Vue {
  @Prop({ type: Number, default: TypeReport.ATTENTIONSBYSUBJECT }) public readonly typeReport!: number;
  @Emit('searchReport')
  public searchReport(reportMetas) {
    return reportMetas;
  }

  @Emit('close')
  public close() {
    return false;
  }
}
</script>

<style></style>
