<template>
  <div>
    <v-form>
      <v-row>
        <v-col md="2" sm="12">
          <v-select
            v-model="reportObject.academicPeriod"
            label="Periodo academico"
            :items="reportObject.academicPeriods"
          ></v-select>
        </v-col>
        <v-col md="2" sm="12">
          <v-select v-model="checkRol" label="Tipo de chequeo" :items="roles"></v-select>
        </v-col>
        <v-col md="3" sm="12">
          <v-select
            v-model="reportObject.subject"
            label="Asignatura"
            :items="reportObject.subjects"
            @change="getModules"
          ></v-select>
        </v-col>
        <v-col md="3" sm="12">
          <v-select
            v-model="reportObject.module"
            label="Módulo"
            :items="reportObject.modules"
            :disabled="reportObject.subject == null"
          ></v-select>
        </v-col>
        <v-col md="2" sm="12" align-self="center">
          <v-btn small @click="searchReport" block color="blue">Buscar</v-btn>
        </v-col>
      </v-row>
    </v-form>
    <div v-if="datas.length">
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-text-field
          :rules="formValidation.title"
          label="Título"
          v-model="report.title"
          class="align-center"
        ></v-text-field>
      </v-form>
      <v-row>
        <v-col cols="6">
          <h3>Resultado chequeos {{ checkRol == 5 ? 'Estudiantes' : 'Docentes' }}</h3>
          <div style="height: 380px; overflow: auto">
            <template v-for="(data, g) in datas">
              <v-simple-table dense :key="g">
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th colspan="4" class="text-left">
                        {{ fullName(data.person) }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <template v-for="(rotation, r) in data.rotations">
                      <tr :key="`${g}${r}1`">
                        <th colspan="4" class="text-center">rotation {{ r + 1 }}</th>
                      </tr>
                      <tr :key="`${g}${r}2`">
                        <td rowspan="2">Chequeo</td>
                        <td colspan="2">Resultado</td>
                        <td rowspan="2">Descripción</td>
                      </tr>
                      <tr :key="`${g}${r}3`">
                        <td>si</td>
                        <td>no</td>
                      </tr>
                      <tr v-if="!rotation.checks.length" :key="`${g}${r}4`">
                        <td colspan="4" class="text-center">No hay chequeos</td>
                      </tr>
                      <tr v-else v-for="(check, c) in rotation.checks" :key="`${g}${c}`">
                        <td>{{ c + 1 }}</td>
                        <td>{{ check.yes }}</td>
                        <td>{{ check.no }}</td>
                        <td>{{ check.observation }}</td>
                      </tr>
                    </template>
                  </tbody>
                </template>
              </v-simple-table>
              <br :key="`${g}+1`" />
              <br :key="`${g}+2`" />
            </template>
          </div>
        </v-col>
        <v-col>
          <vue-editor v-model="report.description"></vue-editor>
        </v-col>
      </v-row>
    </div>

    <div v-if="datas.length" class="d-flex justify-end">
      <v-btn color="blue darken-1" text @click="close"> Cerrar </v-btn>
      <v-btn color="blue darken-1" text @click="saveReport"> Guardar Reporte </v-btn>
    </div>
    <v-dialog v-model="dialogPdf" max-width="800">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="dialogPdf = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <pdf v-for="i in pageCount" :key="i" :page="i" :src="pdf" />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="
              dialogPdf = false;
              pdf = null;
            "
          >
            Cancelar
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialogPdf = false"> Cerrar </v-btn>
          <v-btn color="blue darken-1" text @click="saveReport"> Guardar Reporte </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <snackbar />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { ReportMeta } from '@/domain/entities/report/ReportMeta';
import { ISelect } from '@/interfaces/interfaces';
import { Component, Emit } from 'vue-property-decorator';
import { SubjectSer } from '@/services/subjectService';
import { academicPeriodService } from '@/services/academicPeriodService';
import { Report } from '@/domain/entities/report/Report';
import { VueEditor } from 'vue2-editor';
import { moduleSer } from '@/services/moduleService';
import pdf from 'vue-pdf';
import { reportService } from '@/services/reportService';
import { TypeReport } from '@/domain/entities/report/TypeReport';
import { Roles } from '@/route/Roles';
import { checkService } from '@/services/checkService';
import { TypeChart } from '@/domain/entities/report/TypeChart';
import Snackbar from '@/components/Snackbar.vue';
export interface Idata {
  names: string[];
  data: number[];
}
export interface IReportModule {
  academicPeriod: any;
  academicPeriods: ISelect[];
  subject: any;
  subjects: ISelect[];
  module: any;
  modules: ISelect[];
}
@Component({ components: { VueEditor, pdf, Snackbar } })
export default class FormCheck extends Vue {
  public reportObject: IReportModule = {
    academicPeriod: null,
    academicPeriods: [],
    subject: null,
    subjects: [],
    module: null,
    modules: [],
  } as IReportModule;
  public reportMeta: ReportMeta[] = [];
  public report = new Report();
  public pdf: any = null;
  public datasets: Idata = {
    names: [],
    data: [],
  } as Idata;
  public roles: ISelect[] = [
    {
      value: Roles.STUDENT,
      text: 'Estudiante',
    },
    {
      value: Roles.TEACHER_PRACTICT,
      text: 'Profesor',
    },
  ];
  public checkRol = null;
  public dialogPdf = false;
  public subjectName = '';
  public page = 0;
  public pageCount = 0;
  public datas: any[] = [];
  public valid = false;
  public lazy = false;
  public formValidation = {
    title: [(v: unknown): string | boolean => !!v || 'Este campo es obligatorio'],
  };

  @Emit('searchReport')
  public async searchReport() {
    this.datasets = {
      names: [],
      data: [],
    };
    this.report = new Report();
    await this.checks();
    this.report.title = '';
    this.report.description = '';
    this.report.chart = TypeChart.BAR;
    return {
      report: this.report,
      datasets: this.datasets,
      subjectName: this.subjectName,
      chart: 'bar',
      showChart: false,
    };
  }

  @Emit('close')
  public close() {
    return false;
  }

  public fullName(person): string {
    return `${person.first_name} ${person.second_name != null ? person.second_name + ' ' : ''}${
      person.first_last_name
    } ${person.second_last_name}`;
  }

  public async created() {
    this.reportObject.subjects = await SubjectSer.getSubjectSelect();
    this.reportObject.academicPeriods = await academicPeriodService.getAll();
  }
  public async getFormData(showPdf: boolean) {
    this.report.reportCategory = TypeReport.CHECKSBYROL;
    const formDataReport = new FormData();
    formDataReport.append('title', this.report.title);
    formDataReport.append('description', this.report.description as string);
    formDataReport.append('image', '');
    formDataReport.append('report_category', this.report.reportCategory.toString());
    formDataReport.append(
      'report_metas',
      JSON.stringify(this.report.reportMetas?.map((reportMeta) => reportMeta.toJson()))
    );
    formDataReport.append('report_datas', '[]');
    if (showPdf) {
      formDataReport.append('show_pdf', '1');
    }
    return formDataReport;
  }

  public async saveReport() {
    this.$store.commit('setLoading', { loading: true, msg: 'Generando PDF' });
    const resp = await reportService.saveReport(await this.getFormData(false));
    if (resp.data.state) {
      this.dialogPdf = false;
      this.report = new Report();
      this.pdf = null;
      this.datas = [];
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public async getPdf() {
    if (!this.report.description) {
      this.$store.commit('setSnackbar', { msg: 'La descripción es obligatoria', color: 'red' });
      setTimeout(() => {
        this.$store.commit('setSnackbar', { msg: '', color: '' });
      }, 4000);
      return;
    }
    if (this.pdf == null) {
      let resp;
      this.$store.commit('setLoading', { loading: true, msg: 'Generando PDF' });
      resp = await reportService.postReportAttentionsGetPdf(
        this.checkRol === Roles.STUDENT ? 'reportByCheckStudent' : 'reportByCheckTeacher',
        await this.getFormData(true)
      );
      this.pdf = pdf.createLoadingTask(resp);
      this.pdf.promise.then((pdfAux: any) => {
        this.pageCount = pdfAux.numPages;
      });
      this.$store.commit('setLoading', { loading: false, msg: '' });
    }
    this.dialogPdf = true;
  }

  public async checks() {
    this.$store.commit('setLoading', { loading: true, msg: 'Buscando datos para el reporte' });
    const resp = await checkService.checksByRol(this.checkRol as never as number, {
      module: this.reportObject.module,
      academic_period: this.reportObject.academicPeriod,
    });
    if (resp.data.state) {
      this.report.reportMetas = [
        new ReportMeta({
          key: 'academic_period',
          value: this.reportObject.academicPeriod,
          tabla: 'academic_periods',
        }),
        new ReportMeta({ key: 'subject', value: resp.data.data.module.subject_id, tabla: 'subjects' }),
        new ReportMeta({ key: 'module', value: this.reportObject.module, tabla: 'modules' }),
        new ReportMeta({ key: 'rol', value: this.checkRol as unknown as number, tabla: 'roles' }),
      ];
      this.report.reportDatas = [];
      this.datas = resp.data.data.data;
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public async getModules() {
    this.reportObject.modules = await moduleSer.getSeletBySubject(this.reportObject.subject);
  }
}
</script>

<style></style>
