<template>
  <v-form>
    <v-row>
      <v-col md="3" sm="12">
        <v-select
          v-model="reportObject.academicPeriod"
          label="Periodo academico"
          :items="reportObject.academicPeriods"
        ></v-select>
      </v-col>
      <v-col md="3" sm="12">
        <v-select
          v-model="reportObject.subject"
          label="Asignatura"
          :items="reportObject.subjects"
          @change="getModules"
        ></v-select>
      </v-col>
      <v-col md="3" sm="12">
        <v-select
          v-model="reportObject.module"
          label="Módulo"
          :items="reportObject.modules"
          :disabled="reportObject.subject == null"
        ></v-select>
      </v-col>
      <v-col md="3" sm="12" align-self="center">
        <v-btn small @click="searchReport" block color="blue">Buscar</v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue';
import { ReportMeta } from '@/domain/entities/report/ReportMeta';
import { ISelect } from '@/interfaces/interfaces';
import { Component, Emit } from 'vue-property-decorator';
import { SubjectSer } from '@/services/subjectService';
import { academicPeriodService } from '@/services/academicPeriodService';
import { Report } from '@/domain/entities/report/Report';
import { attentionSer } from '@/services/attentionService';
import { ReportData } from '@/domain/entities/report/ReportData';
import { moduleSer } from '@/services/moduleService';
import { TypeChart } from '@/domain/entities/report/TypeChart';
export interface Idata {
  names: string[];
  data: number[];
}
export interface IReportModule {
  academicPeriod: any;
  academicPeriods: ISelect[];
  subject: any;
  subjects: ISelect[];
  module: any;
  modules: ISelect[];
}
@Component({})
export default class FormAttentionBySubject extends Vue {
  public reportObject: IReportModule = {
    academicPeriod: null,
    academicPeriods: [],
    subject: null,
    subjects: [],
    module: null,
    modules: [],
  } as IReportModule;
  public reportMeta: ReportMeta[] = [];
  public report = new Report();
  public datasets: Idata = {
    names: [],
    data: [],
  } as Idata;
  public subjectName = '';

  @Emit('searchReport')
  public async searchReport() {
    await this.studentAssistence();
    this.report.chart = TypeChart.BAR;
    return {
      report: this.report,
      datasets: this.datasets,
      subjectName: this.subjectName,
      chart: 'bar',
      showChart: true,
    };
  }

  public async created() {
    this.reportObject.subjects = await SubjectSer.getSubjectSelect();
    this.reportObject.academicPeriods = await academicPeriodService.getAll();
  }

  public async studentAssistence() {
    this.datasets = {
      names: [],
      data: [],
    };
    this.report = new Report();
    this.$store.commit('setLoading', { loading: true, msg: 'Buscando datos para el reporte' });
    const resp = await attentionSer.attentionByModule(
      this.reportObject.subject,
      this.reportObject.module,
      this.reportObject.academicPeriod
    );
    if (resp.data.state) {
      this.report.reportMetas = [
        new ReportMeta({
          key: 'academic_period',
          value: this.reportObject.academicPeriod,
          tabla: 'academic_periods',
        }),
        new ReportMeta({ key: 'subject', value: resp.data.data.subject.id, tabla: 'subjects' }),
        new ReportMeta({ key: 'module', value: this.reportObject.module, tabla: 'modules' }),
      ];
      this.report.reportDatas = [];
      let totalAttentions = 0;
      (resp.data.data.attentions as any[]).forEach((attention) => {
        totalAttentions += attention.total;
        (this.report.reportDatas as ReportData[]).push(
          new ReportData({ name: attention.name, total: attention.total, percentage: 0 })
        );
        this.datasets.data.push(attention.total as number);
        this.datasets.names.push(`${attention.name} (${attention.total})`);
      });
      this.report.reportDatas.forEach((reportData) => {
        reportData.percentage = parseFloat(((reportData.total / totalAttentions) * 100).toFixed(2));
      });
    }
    this.$store.commit('setLoading', { loading: false, msg: '' });
  }

  public async getModules() {
    this.reportObject.modules = await moduleSer.getSeletBySubject(this.reportObject.subject);
  }
}
</script>

<style></style>
