<template>
  <v-container grid-list-xs>
    <v-row justify="space-between">
      <v-col cols="10" md="10"><h1>Eventos</h1></v-col>
      <v-col cols="2" md="2" v-if="currentRol">
        <v-dialog v-model="dialog" max-width="900px" persistent>
          <template v-slot:activator="{ on }">
            <v-btn fab v-on="on" x-large>
              <v-img src="@/assets/images/eventos_add.png" height="40" width="40" contain></v-img>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Nuevo Evento</span>
            </v-card-title>
            <v-card-text>
              <v-container class="form-event">
                <v-form ref="formEvent" v-model="valid" :lazy-validation="lazy" enctype="multipart/form-data">
                  <v-row>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        label="Título"
                        type="text"
                        v-model="event.title"
                        :rules="formEventValid.title"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        label="Dirección"
                        type="text"
                        v-model="event.address"
                        :rules="formEventValid.description"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" sm="6" md="6">
                      <v-dialog ref="dialog" v-model="datePicker" persistent width="290px">
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="event.date"
                            label="Fecha"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="event.date" full-width>
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="closePicker">Cancelar</v-btn>
                          <v-btn text color="primary" @click="datePicker = false">Aceptar</v-btn>
                        </v-date-picker>
                      </v-dialog>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-dialog ref="dialog" v-model="timePicker" persistent width="290px">
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="event.hour"
                            label="Hora"
                            prepend-icon="access_time"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-time-picker v-model="event.hour" full-width>
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="closeTimePicker">Cancelar</v-btn>
                          <v-btn text color="primary" @click="timePicker = false">Aceptar</v-btn>
                        </v-time-picker>
                      </v-dialog>
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row>
                    <v-col cols="12" sm="6" md="6">
                      <v-file-input accept="image/*" label="Imagen" @change="getImagen"></v-file-input>
                      <v-card color="#F3EFEE" dark height="300"><v-img height="200" contain :src="img"></v-img></v-card>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <vue-editor
                        class="v-editor"
                        v-model="event.description"
                        :rules="formEventValid.description"
                      ></vue-editor>
                    </v-col>
                    <v-col> </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="save">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="4" sm="6" v-for="event in events" :key="event.id" @click="openEvent(event.id)">
        <router-link class="event" :to="{ name: 'event', params: { id: event.id } }">
          <EventCard :event="event" />
        </router-link>
      </v-col>
    </v-row>
    <infinite-loading @infinite="infiniteEvents" :key="events.length"></infinite-loading>
  </v-container>
</template>
<style lang="scss">
.form-event {
  .ql-editor {
    max-height: 250px;
    height: 250px;
  }
}
</style>

<style lang="scss" scoped>
.event {
  text-decoration: none;
}
.form-event {
  .v-editor {
    max-height: 250px;
    height: 250px;
  }
}
</style>
