<template>
  <v-container grid-list-xs class="view-question">
    <v-data-table
      :headers="headers"
      :items="questions"
      :items-per-page="perPage"
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      hide-default-footer
      class="table-question"
      :footer-props="{
        'items-per-page-text': 'Preguntas por página',
      }"
      style="margin-top:0"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Preguntas</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-dialog v-model="dialog" max-width="700px" persistent>
            <template v-slot:activator="{ on }">
              <v-btn color="primary" text class="mb-2" v-on="on">
                Nueva pregunta
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-form ref="formQuestion" v-model="valid" :lazy-validation="lazy">
                    <v-row>
                      <v-col cols="12" :sm="editedIndex == -1 ? 10 : 12" :md="editedIndex == -1 ? 10 : 12">
                        <v-text-field
                          v-model="question.question"
                          label="Pregunta"
                          required
                          :rules="validateSubject.question"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="2" md="2" v-if="editedIndex == -1">
                        <v-btn color="success" @click="serchQuestion">Buscar</v-btn>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" sm="6" md="6">
                        <v-select
                          v-model="question.type"
                          required
                          :rules="validateSubject.type"
                          :items="itemsTypeQuestions"
                          label="Tipo de Pregunta"
                        ></v-select>
                      </v-col>

                      <v-col cols="12" sm="6" md="6">
                        <v-select
                          v-if="question.type == 1"
                          v-model="checkType"
                          required
                          :rules="validateSubject.check"
                          :items="itemsTypeChecks"
                          label="Tipo de Chequeo"
                          multiple
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="save" :disabled="!valid">{{
                  editedIndex == -1 ? 'Guardar' : 'Actualizar'
                }}</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-spacer></v-spacer>
          <v-menu offset-y v-model="menuFilter" :nudge-width="200" :close-on-content-click="false" class="menu-filter">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark v-bind="attrs" v-on="on">
                Filtro
              </v-btn>
            </template>
            <v-card class="white pa-3" style="width: 400px">
              <h2>Tipo de pregunta</h2>
              <v-radio-group row v-model="search.typeQuestion">
                <v-radio
                  v-for="(typeQuestion, i) in itemsTypeQuestions"
                  :key="i"
                  :label="typeQuestion.text"
                  :value="typeQuestion.value"
                ></v-radio>
              </v-radio-group>
              <div v-if="search.typeQuestion == 1">
                <h2>Tipo de chequeo</h2>
                <v-row dense>
                  <v-col v-for="(typeCheck, i) in itemsTypeChecks" :key="i"
                    ><v-checkbox
                      :label="typeCheck.text"
                      :value="typeCheck.value"
                      v-model="search.checkType"
                      class="check"
                    ></v-checkbox
                  ></v-col>
                </v-row>
              </div>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn text @click="clearFilter()">
                  Cancelar
                </v-btn>
                <v-btn color="primary" text @click="filterQuestions()">
                  Buscar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>
          <!-- <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field> -->
        </v-toolbar>

        <!-- <div>
          <v-container class="">
            <v-row>
              <v-col
                ><v-checkbox label="Estudiantes" value="students" v-model="search" class="check"></v-checkbox
              ></v-col>
              <v-col
                ><v-checkbox label="Profesores" value="teachers" v-model="search" style="margin: 0"></v-checkbox
              ></v-col>
              <v-col align-self="center">
                <v-btn small color="" @click="searchQuestions()">Buscar</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </div> -->
      </template>
      <template v-slot:[`item.type`]="{ item }">
        <p v-if="item.type == 1">Chequeo</p>
        <p v-if="item.type == 2">Encuesta</p>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="edit(item)" color="blue lighten-3">
          edit
        </v-icon>
        <!-- <v-icon
        small
        @click="deleteDocente(item)"
        color="red"
      >
        delete
      </v-icon> -->
      </template>
      <template v-slot:no-data>
        <v-btn color="primary">Reset</v-btn>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        circle
        v-model="page"
        :length="pageCount"
        @next="nextPage()"
        @previous="pageData = page"
        @input="hablePaginate"
        :total-visible="perPage"
      ></v-pagination>
    </div>
    <v-dialog v-model="dialogQueSimilarity" :overlay="false" max-width="500px" transition="dialog-transition">
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Preguntas similares</h3>
          </div>
        </v-card-title>
        <v-card-text>
          <p>
            Si la pregunta que esta ingresando es diferente a la que salen a acontinuación, por favor de click en
            continuar, de lo contrario haga click en la pregunta.
          </p>
          <v-list>
            <v-list-item v-for="(question, i) in questionsSimilarity" :key="i" @click="edit(question)">
              <v-list-item-content>
                <v-list-item-title>{{ question.question }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="dialogQueSimilarity = false">Continuar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <Loading />
  </v-container>
</template>
<style lang="scss">
.menu-filter {
  .v-menu__content {
    width: 400px;
  }
}
.view-question {
  .table-question {
    .v-data-table__wrapper {
      margin-top: 0;
      .v-input--selection-controls {
        margin: 0;
      }
      .check {
        margin-top: 0;
        .v-input__slot {
          margin-bottom: 0;
        }
      }
    }
  }
}
</style>
