<template>
  <v-container grid-list-xs>
    <v-data-table
      :headers="headers"
      :items="subjects"
      :search="search"
      :items-per-page="5"
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      class="elevation-4"
      :footer-props="{
        'items-per-page-text': 'Asignaturas por página',
      }"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Asignatura</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
          <v-btn color="primary" text icon class="mb-2" @click="showSubjects">
            <v-icon large>refresh</v-icon>
          </v-btn>
          <v-btn color="primary" text class="mb-2" @click="comparatorServer">
            Registrar
          </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:[`item.module`]="{ item }">
        <v-icon small class="mr-2" @click="getModules(item.code)" color="blue lighten-3">
          search
        </v-icon>
        <!-- <v-icon
        small
        @click="deleteDocente(item)"
        color="red"
      >
        delete
      </v-icon> -->
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-icon small class="mr-2" @click="edit(item)" color="blue lighten-3">
          edit
        </v-icon>
        <!-- <v-icon
        small
        @click="deleteDocente(item)"
        color="red"
      >
        delete
      </v-icon> -->
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="showSubjects">Reset</v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="800px" scrollable transition="dialog-transition">
      <v-card>
        <v-card-title primary-title style="display: block">
          <div>
            <h3 class="headline mb-0">Registrar asignatura</h3>
            <v-text-field
              v-model="searchSubjectText"
              append-icon="search"
              label="Buscar asignatura"
              single-line
              hide-details
            ></v-text-field>
          </div>
        </v-card-title>
        <v-card-text>
          <v-list>
            <v-list-item v-for="subject in subjectsUpcAux" :key="subject.code">
              <v-list-item-content>
                <v-list-item-title>{{ subject.subject.name }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-switch inset v-model="subject.check"></v-switch>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text color="danger" @click="dialog = false">cerrar</v-btn>
          <v-btn text color="primary" @click="saveSubject">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogModule" :overlay="false" max-width="500px" transition="dialog-transition">
      <v-card>
        <v-card-title primary-title>
          <h3 class="headline mb-0">Módulos</h3>
        </v-card-title>
        <v-card-text>
          <v-list>
            <v-list-item v-for="(module, m) in modules" :key="m">
              <v-list-item-content>
                <v-list-item-title>{{ module.name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
    <Loading />
    <snackbar />
  </v-container>
</template>
