<template>
  <v-container grid-list-xs>
    <v-data-table
      :headers="headers"
      :items="patients"
      :items-per-page="perPage"
      dense
      :loading="loading"
      :loading-text="loading ? 'Cargando... por favor espere' : ''"
      class="elevation-4"
      hide-default-footer
    >
      <template v-slot:top>
        <v-toolbar flat color="white" class="header">
          <v-toolbar-title>Pacientes</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-row>
            <v-col cols="3" align-self="center">
              <v-select v-model="search.type" :items="searchTypes" label="Tipo de búsqueda"></v-select>
            </v-col>
            <v-col :cols="stateSearch ? 7 : 8" align-self="center">
              <v-text-field v-model="search.value" label="Búsqueda"></v-text-field>
            </v-col>
            <v-col cols="1" align-self="center">
              <v-btn icon @click="searchPatient()">
                <v-icon>search</v-icon>
              </v-btn>
            </v-col>
            <v-col v-if="stateSearch" cols="1" align-self="center">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon @click="clearSearch()" dark v-bind="attrs" v-on="on">
                    <v-icon color="red">clear</v-icon>
                  </v-btn>
                </template>
                <span>Limpiar búsqueda</span>
              </v-tooltip>
            </v-col>
          </v-row>
        </v-toolbar>
      </template>
      <template v-slot:[`item.date`]="{ item }">
        {{ getDate(item.date) }}
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-dialog width="700">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="blue lighten-2" icon dark v-bind="attrs" v-on="on">
              <v-icon color="">search</v-icon>
            </v-btn>
          </template>

          <v-card>
            <v-card-title class="headline lighten-2"> Atenciones de la paciente {{ item.name }} </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-list dense>
                <v-list-group v-for="(attention, i) in item.attentions" :key="i" no-action>
                  <template v-slot:activator>
                    <v-list-item-content>
                      <v-list-item-title
                        >Atención {{ i + 1 }} - ({{ attention.date }})
                        <v-icon v-if="attention.state" color="green">mdi-check</v-icon>
                        <v-icon v-else color="red">mdi-close</v-icon>
                        -
                        {{
                          attention.encuesta !== null
                            ? `Encuesta Realizada (Resultado ${attention.encuesta})`
                            : 'Falta por encuestar'
                        }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>
                  <v-list-item v-for="(procedure, i) in attention.procedures" :key="i">
                    <v-list-item-content>
                      <v-list-item-title>{{ procedure.name }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-group>
              </v-list>
            </v-card-text>
          </v-card>
        </v-dialog>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        circle
        v-model="page"
        :length="pageCount"
        @next="nextPage()"
        @previous="pageData = page"
        @input="hablePaginate"
        :total-visible="perPage"
      ></v-pagination>
    </div>
  </v-container>
</template>

<style lang="scss">
.header {
  margin-top: 10px;
  .v-toolbar__content {
    height: 100px !important;
  }
}

.v-data-table__wrapper {
  margin-top: 20px;
}
</style>
