<template>
  <div class="home">
    <v-app-bar color="transparent" elevation="0">
      <v-img src="@/assets/images/logo.svg" height="130" max-width="200" contain class="mt-10 ml-10"></v-img>
      <v-spacer></v-spacer>
      <v-btn color="black" text class="font-weight-bold">Inicio</v-btn>
      <v-btn color="black" text href="#dev" link class="font-weight-bold">Desarrolladores</v-btn>
      <v-btn color="black" text to="login" class="font-weight-bold">Iniciar sesión</v-btn>
    </v-app-bar>
    <v-container grid-list-xs>
      <div class="banner d-flex">
        <div class="align-self-center content">
          <h1 class="text-center font-weight-bold">¡Bienvenido a Practics!</h1>
          <v-container class="">
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="8"
                offset-md="2"
                offset="0"
                class="welcome text-center rounded-lg mb-5 font-weight-medium"
              >
                Practics es un sistema de información para gestionar las prácticas formativas del área de la salud, el
                cual le brinda una mejor experiencia a los coordinadores de esta área como los estudiantes y docentes.
                Este sistema tiene como finalidad ayudar a minimizar los gastos de papel y ayudar al medio ambiente.
              </v-col>
            </v-row>
          </v-container>
          <a href="https://practicassalud.unicesar.edu.co/apk/practics.apk">
            <v-img src="@/assets/images/android.png" height="50" contain></v-img
          ></a>
        </div>
      </div>
      <v-container>
        <v-row class="text-center">
          <v-col>
            <h2>Paciente</h2>
            <p class="item">
              Ya no se tendra el problema del conteo de atenciones realizadas a pacientes durante el semestre,
              con Practics todo quedara registrado y les dará los resultados al instante.
            </p>
          </v-col>
          <v-col>
            <h2>Docencia - servicio</h2>
            <p class="item">
              La planeación de las prácticas es mas intuitiva y organizada. Por lo que también se podrá descargar en un
              pdf esta planeación.
            </p>
          </v-col>
          <v-col>
            <h2>Reportes</h2>
            <p class="item">
              Una de los módulos más importantes de practics es la generación de diferentes reportes como pueden ser:
              atenciones por asignatura, atenciones por módulo,
            </p>
          </v-col>
          <v-col>
            <h2>Atenciones</h2>
            <p class="item">
              El módulo principal, poder gestionar el sistema de atenciones de una manera digital, sin conexión a
              internet y todo desde un dispositivo movil.
            </p>
          </v-col>
        </v-row>
      </v-container>
      <div class="devs" id="dev">
        <v-container class="">
          <h1 class="text-center">Desarrolladores</h1>
          <v-row>
            <v-col cols="12" md="6" class="text-center">
              <p>Ingeniero Kenneth Raul Mendoza Lopez</p>
              <p>knraulmendoza@gmail.com</p>
              <p>Teléfono : 301 737 5864</p>
            </v-col>
            <v-col cols="12" md="6" class="text-center">
              <p>Ingeniero Alfonso David Castro Barrera</p>
              <p>adavidcastro@unicesar.edu.co</p>
              <p>Teléfono : 301 755 7525</p>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
.home {
  background-image: url('../../assets/images/fondo_home.jpg');
  background-repeat: no-repeat;
  // background-size: 100%;
  z-index: -1;
  .banner {
    width: 100%;
    height: 80vh;
    .content {
      width: 100%;
    }
    h1 {
      font-size: 5rem;
      @media only screen and (max-width: 600px) {
        font-size: 3rem;
      }
    }
    .welcome {
      background-color: rgba(202, 202, 202, 0.481);
      padding: 20px;
      font-size: 25px;
    }
  }
  .devs {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
  }
  @media only screen and (max-width: 600px) {
    background-image: url('../../assets/images/fondo_home_mobile.jpg');
  }

  .item {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    height: 170px;
  }
}
// .home::after {
//   content: '';
//   background: url('../../assets/images/fondo_home.jpg');
//   opacity: 0.5;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
//   @media only screen and (max-width: 600px) {
//     background-image: url('../../assets/images/fondo_home_mobile.jpg');
//   }
// }
</style>
