<template>
  <v-app>
    <div id="core-view">
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
      <loading />
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import AppDrawerView from './components/drawer';
import ViewComponent from './components/vista';
import { academicPeriodService } from './services/academicPeriodService';
import Loading from '@/components/loading.vue';
import { IAcademicPeriod } from './interfaces/interfaces';

// import 'sweetalert2/src/sweetalert2.scss'

@Component({
  name: 'App',
  components: {
    AppDrawerView,
    ViewComponent,
    Loading,
  },
})
export default class App extends Vue {
  public async created() {
    const resp = await academicPeriodService.get();
    if (resp.data.state) {
      this.$store.commit('setAcademicPeriod', resp.data.data.academicPeriod as IAcademicPeriod);
      this.$store.commit('setEndDate', resp.data.data.academicPeriodCareer.end_date);
    }
  }
}
</script>
<style lang="scss">
@import 'https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css';
.swal2-title {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
