<template>
  <div class="fondo">
    <div class="img-fondo">
      <v-img contain src="@/assets/images/wave.svg"></v-img>
    </div>
    <v-col align-center class="pb-md-6">
      <v-container class="">
        <v-row align="center" justify="center" style="height: 45rem">
          <v-card class="elevation-20 rounded-xl pa-md-6" rounded width="400px">
            <v-card-title primary-title>
              <v-row align="center" justify="center">
                <h1>Iniciar Sesión</h1>
              </v-row>
            </v-card-title>
            <v-card-text>
              <v-form v-model="valid" :lazy-validation="lazy">
                <v-text-field
                  v-model="user.user"
                  :rules="validate.user"
                  label="Usuario"
                  name="login"
                  prepend-icon="person"
                  type="text"
                >
                </v-text-field>

                <v-text-field
                  v-model="user.password"
                  id="password"
                  label="Contraseña"
                  name="password"
                  :rules="validate.password"
                  prepend-icon="lock"
                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword"
                ></v-text-field>
              </v-form>
              <v-row align="center" justify="center" class="mt-3">
                <div class="text-md-body-1 text-blue" @click="dialog = true" style="cursor: pointer">
                  ¿Olvido su contraseña?
                </div>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-btn rounded block color="primary" @click="login()" :disabled="!valid">Iniciar sesión</v-btn>
            </v-card-actions>
          </v-card>
        </v-row>
      </v-container>
    </v-col>
    <div class="logo_upc">
      <v-row class="interno">
        <v-col cols="6" align-self="center"><v-img src="@/assets/logo_upc.png"></v-img></v-col>
        <v-col cols="6"><v-img src="@/assets/images/logo.svg"></v-img></v-col>
      </v-row>
    </div>
    <!-- <div class="logo_upc logo">
      <v-img src="@/assets/images/logo.svg"></v-img>
    </div> -->
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ user.id == undefined ? 'Recuperar contraseña' : 'Nueva contraseña' }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <div v-if="user.id == undefined">
              <v-form v-model="validVerify" :lazy-validation="lazyVerify">
                <v-text-field
                  label="Usuario"
                  type="email"
                  v-model="userRecovery"
                  :rules="validateVerify.user"
                ></v-text-field>
                <v-text-field label="Documento" v-model="document" type="number"></v-text-field>
                <h3>Pregunta de seguridad</h3>
                <v-select
                  v-model="question"
                  :items="questions"
                  label="Pregunta"
                  :rules="validateVerify.questions"
                ></v-select>

                <v-text-field
                  v-model="securityAnswer"
                  label="Respuesta"
                  type="text"
                  :rules="validateVerify.securityAnswer"
                ></v-text-field>
              </v-form>
            </div>

            <div v-else>
              <v-form v-model="validPassword" :lazy-validation="lazyPassword">
                <v-text-field
                  v-model="newPassword"
                  label="Nueva Contraseña"
                  :rules="validatePassword.newPassword"
                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword"
                ></v-text-field>
                <v-text-field
                  v-model="repeatPassword"
                  :rules="validatePassword.repeatPassword"
                  label="Repetir Nueva Contraseña"
                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                  :type="showPassword ? 'text' : 'password'"
                ></v-text-field>
              </v-form>
            </div>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Cerrar</v-btn>
          <v-btn
            color="blue darken-1"
            :disabled="user.id == undefined ? !validVerify : !validPassword"
            @click="user.id == undefined ? verifyUser() : changeNewPassword()"
            >{{ user.id == undefined ? 'verificar usuario' : 'Cambiar contraseña' }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <Loading />
    <Snackbar :color="'red darken-4'" />
  </div>
</template>
<style lang="scss" scoped>
.fondo {
  position: relative;
  .img-fondo {
    width: 100%;
    position: absolute;
  }
  .logo_upc {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40%;
    .interno {
      position: relative;
    }
  }
}
</style>
