<template>
  <v-container class="">
    <h1 class="text-center">
      Esta es una sección para poder visualizar y generar reportes referente a las prácticas formativas
    </h1>
    <v-row>
      <v-col>
        <v-card elevation="3" @click="dialogBoxRotation = true" class="card">
          <v-card-title primary-title>
            <div>
              <h2 class="headline mb-0">Cuadro de rotación (descargar)</h2>
            </div>
          </v-card-title>
        </v-card>
      </v-col>
      <v-col>
        <v-card @click="openDialog(4)" class="card">
          <v-card-title primary-title>
            <h2 class="headline mb-0">Reportes</h2>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>

    <v-layout row justify-center>
      <v-dialog v-model="dialog" persistent max-width="1000">
        <reports @closeDialog="closeDialog" />
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="dialogBoxRotation" max-width="800">
        <v-card>
          <v-card-title primary-title>
            Tabla rotación por módulo
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <v-select v-model="subject" label="Asignatura" :items="subjects" @change="getModules"></v-select>
              </v-col>
              <v-col>
                <v-select v-model="module" label="Módulo" :items="modules" :disabled="subject == null"></v-select>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="blue darken-1" :disabled="module == null" text @click="donwloadRotation">Descargar pdf</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <Loading />
  </v-container>
</template>
<style lang="scss">
.card {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  .headline {
    font-size: 20px;
  }
}
</style>
