<template>
  <v-container>
    <v-data-table
      :headers="headers"
      :items="patients"
      :search="search"
      :loading-text="loadingPacientes ? 'Cargando... por favor espere' : ''"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Pacientes</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
        </v-toolbar>
      </template>
      <template>
        <v-icon small class="mr-2">
          edit
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Refrescar</v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>
