<template>
  <div>
    <v-container grid-list-xs v-if="state">
      <v-card class="mx-auto">
        <v-row>
          <v-col cols="12" sm="1">
            <v-card-actions>
              <v-btn color="primary" text icon class="mb-2" to="/dashboard/events">
                <v-icon large>mdi-arrow-left</v-icon>
              </v-btn>
            </v-card-actions>
          </v-col>
          <v-col cols="12" sm="11">
            <v-card-title text align="center">{{ event.title }}</v-card-title>
          </v-col>
        </v-row>
        <v-card-text style="height: auto">
          <div class="subtitle-1">Fecha: {{ event.date }} a las {{ event.hour }}</div>
          <v-row>
            <v-col cols="12" :sm="imagenDefault ? 8 : 12" order="2" order-sm="1">
              <div v-html="event.description"></div>
            </v-col>
            <v-col v-if="imagenDefault" cols="12" sm="4" order="1" order-sm="2">
              <v-img :src="baseUrl + event.image" contain />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>
    <v-container v-else fluid fill-height>
      <v-layout justify-center align-center>
        <h1>No se encontró el evento</h1>
      </v-layout>
    </v-container>
    <Loading />
  </div>
</template>
